[2022-06-03 09:08] RichiH opened #2 "Decide upon and publish community communication channels"
See the end of https://raw.githubusercontent.com/grafana/mimir/main/GOVERNANCE.md for proposed structure.

[2022-06-06 12:29] #2 closed, assigned to Matvey-Kuk

[2022-06-14 12:58] Matvey-Kuk opened #61 "Make Slack acknowledgement reminder team-specific"
Now it's slack-wide, it makes sense to make it team-specific.

<img width="1010" alt="Screenshot 2022-06-14 at 15 56 56" src="https://user-images.githubusercontent.com/3284841/173582451-2cbd0649-8e3d-451b-8b1c-b4af38047f15.png">

[2022-06-14 13:04] Matvey-Kuk opened #62 "Make explicit which template is rendered where"
We have template rendering preview in the integration settings. For now all templates are rendered one under another without titles or annotations. It would be nice to add some title for each template and distinguish them somehow.

<img width="1156" alt="Screenshot 2022-06-14 at 15 58 49" src="https://user-images.githubusercontent.com/3284841/173583595-18607c18-b265-45ea-9310-a0be205b1753.png">

[2022-06-14 13:07] Matvey-Kuk opened #63 "Add raw alert content view"
We show raw content of last alert in the template editor (payload example):
<img width="1010" alt="Screenshot 2022-06-14 at 16 04 57" src="https://user-images.githubusercontent.com/3284841/173584039-8984d341-8eb0-4b6c-a419-029044176166.png">

Users are missing the ability to check raw content of some specific alerts in the history. May be add the button here: ?
<img width="656" alt="Screenshot 202

[2022-06-14 13:14] Matvey-Kuk opened #64 "Add "uptime" native integration templates"
Looks like nice OSS monitoring tool, do we need native support for alerts from it?

https://github.com/fzaninotto/uptime

Btw native integrations are stored here: https://github.com/grafana/oncall/tree/dev/engine/config_integrations

[2022-06-14 13:14] #64 closed, assigned to nobody

[2022-06-14 13:15] Matvey-Kuk opened #65 "Add templates for "uptime-kuma""
Looks like nice OSS monitoring tool, do we need native support for alerts from it?

https://github.com/louislam/uptime-kuma

Btw native integrations are stored here: https://github.com/grafana/oncall/tree/dev/engine/config_integrations

If you use uptime-kuma and need templates, please let us know! 👇

[2022-06-14 13:17] Matvey-Kuk opened #66 "Add templates for "ciao""
https://github.com/brotandgames/ciao

Btw native integrations are stored here: https://github.com/grafana/oncall/tree/dev/engine/config_integrations

If you use ciao and need templates, please let us know!

[2022-06-14 18:31] sergeyshevch opened #80 "Add postgresql support"
As Django is used in the core of oncall. It will be perfect for adding the ability to use PostgreSQL as the optional database engine.

For example, some teams prefer PostgreSQL over MySQL or already have production-ready PostgreSQL clusters.

[2022-06-15 02:44] awhitepl opened #83 "Make an official Helm Chart please!"
Thanks!

[2022-06-15 02:51] Fyne5 opened #84 "Docker compose can not start, error engine"
Dear friends,

After I did as like as the docs, I can not start up service. Could you please let me know what steps I'm missing? The error log from engine. I don't use built-in Grafana

[code]
Also I increased net.core.somaxconn to 512

![Screen Shot 2022-06-15 at 12 36 59](https://user-images.githubusercontent.com/58161454/173748479-bf1ecc70-b5bc-4a92-a826-fe2b5cce9229.JPEG)

My system CentOS 7 a

[2022-06-15 07:35] Matvey-Kuk commented on #83
@iskhakov is working on it, soon!

[2022-06-15 08:16] Matvey-Kuk opened #85 ""Tiny" deployment version for those who want a small deployment footprint?"
A few HN commenters raised a topic of a large deployment footprint: https://news.ycombinator.com/item?id=31740902

We deliver OnCall with redis + rabbit + mariadb + workers + web server because we focus on reliability a lot. For some users it's not a priority. We could think about some "tiny" deployment environment based on sqlite.

- Django UWSGI web server -> SQLite
- Celery workers -> One celer

[2022-06-15 08:33] Konstantinov-Innokentii commented on #85
I think we can use SQLite + Redis both for caching and message broker. It will be trade-off between complexity and reliability.

[2022-06-15 08:52] vadimkerr opened #86 "Add arm64 docker image for grafana/oncall"
When running the following command from README.md: `docker-compose --env-file .env_hobby -f docker-compose.yml up --build -d`, uWSGI fails to start on my M1 Mac.

uWSGI logs:

[code]

When building the `grafana/oncall` image manually on my machine and using it in the docker-compose file, all works as expected. My proposal is to add a docker image for arm64 to DockerHub, so the instruction works fo

[2022-06-15 09:07] Konstantinov-Innokentii commented on #86
Strange, I ran this on m1 pro, everything worked.

[2022-06-15 09:22] vadimkerr commented on #84
Hello @Fyne5!
The uWSGI configuration used by OnCall engine sets listen queue size to 1024, so increasing `net.core.somaxconn` to 1024 should help.

[2022-06-15 09:43] Fyne5 commented on #84
Thank you so much, It worked after I edited docker-compose.yml
![Screen Shot 2022-06-15 at 16 42 32](https://user-images.githubusercontent.com/58161454/173797265-f987f1ea-bf09-4ba8-9ae7-59b0a6829307.JPEG)

[2022-06-15 10:01] Matvey-Kuk commented on #85
@Konstantinov-Innokentii you are right. Redis is well-supported by Celery also

[2022-06-15 12:46] iskhakov commented on #85
SQLAlchemy is backend, it wouldn't work as a Broker, unfortunately.

[2022-06-15 13:20] enkov opened #90 "Slack something went wrong when authorizing this app."
Hello!

Using docker-compose `https://raw.githubusercontent.com/grafana/oncall/dev/docker-compose.yml` I start Oncall with this command `docker-compose --env-file .env_hobby up -d` and then configure slack integration. Integration works, but when user want to connect slack account he gets this error:

[code]

Do I need to do any additional configuration?
To get public url for slack I use  localtun

[2022-06-15 13:28] Matvey-Kuk commented on #90
@enkov could you please try setting DOMAIN in .env_hobby as your localtunnel domain? (Without "/" at the end)

[2022-06-15 13:29] Matvey-Kuk commented on #85
@iskhakov +1 for @Konstantinov-Innokentii 's idea to keep redis

[2022-06-15 13:40] enkov commented on #90
and when I enable slack integration admin user from which I enable it automatically connects to slack and works, but only this user.

[2022-06-15 14:01] enkov commented on #90
Here is url where grafana send me when I try to connect user
[code]
And here is client_id None. Maybe this is a problem?

[2022-06-15 14:05] matiasb commented on #90
Indeed, for some reason the `client_id` is missing there. I just reproduced the problem in my local dev environment, will debug and work on a fix. Thanks for raising the issue.

[2022-06-15 14:54] #90 closed

[2022-06-15 16:16] iskhakov commented on #84
https://github.com/grafana/oncall/pull/94

[2022-06-15 16:20] #84 closed

[2022-06-15 17:16] iskhakov commented on #86
Agree,
let's add another env variable, that use can configure during docker-compose up, to use arm64 image
and add the ci job to build such an image

[2022-06-15 21:36] BortovEvgeniy opened #96 "Make integration and notifications via mattermost."
https://github.com/mattermost/mattermost-server

Thanks!

[2022-06-15 23:39] henjoe opened #97 "[Question] Installer for windows"
Hi, just wanna ask if there is an installer for Grafana OnCall for windows like in .exe?
Like in grafana, we can download the .exe and just one click install to our OS.

Thank you.

Regards,
Henjoe

[2022-06-16 05:46] PatMis81 opened #98 "Issue when trying to install with helm"
Hi,
I have encountered an issue when trying to install the helm chart on my local kubernetes. I get the following message:

`Error: INSTALLATION FAILED: template: oncall/templates/engine/job-migrate.yaml:48:14: executing "oncall/templates/engine/job-migrate.yaml" at <include "snippet.redis.env" .>: error calling include: templa
te: oncall/templates/_env.tpl:157:12: executing "snippet.redis.env" at

[2022-06-16 07:47] andy812 commented on #98
Solution: change `external_redis` to `externalRedis` in values.yaml

[2022-06-16 08:01] PatMis81 commented on #98
Thank you Andy! This worked!

[2022-06-16 08:14] andy812 commented on #98
Be careful, there's a lot of errors: `nginx-ingress` instead of `ingress-nginx`, cert issuer issue, etc.
Please, don't close this bug until it will be fixed by Grafana team.

[2022-06-16 08:15] PatMis81 commented on #98
Reopen for several bugs to be fixed by Grafana.

[2022-06-16 13:26] D4g4n9 commented on #97
**hahhha_**

[2022-06-16 22:06] #97 closed

[2022-06-16 22:08] henjoe commented on #97
Lol. OnCall is an App plugin 🤣
Never knew this before.

Regards,
Henjoe

[2022-06-17 08:28] Matvey-Kuk commented on #86
I like it. @vadimkerr will you take it?

[2022-06-17 12:08] idv-Evgenii commented on #98
Hi, this error appears at startup and at the same time it starts everything except oncall celery and oncall engine, it initializes under oncall, but does not start

Error: INSTALLATION FAILED: failed post-install: warning: Hook post-install oncall/templates/cert-issuer.yaml failed: Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://******.svc:443/mutate?timeou

[2022-06-17 12:20] idv-Evgenii commented on #98
Hi, this error appears at startup and at the same time it starts everything except oncall celery and oncall engine, it initializes under oncall, but does not start

Error: INSTALLATION FAILED: failed post-install: warning: Hook post-install oncall/templates/cert-issuer.yaml failed: Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://******.svc:443/mutate?timeou

[2022-06-17 17:44] zalegrala opened #109 "Notifications for non-work phone and no cell tower signal"
I have recently moved to a basement office, which has zero cell signal, so when I am on call I need to work from upstairs.  No big deal.  The obvious solution here is to connect Slack on my phone to the account for work, and don't complain about all of the notifications I need to look at.

However, I'm wondering if there could be a future feature that could enable a user such as myself, to receive

[2022-06-17 18:02] roock opened #110 "Feature Request: Make integration and notifications via Microsoft Teams"
Docs:
- https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/what-are-messaging-extensions
- https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook

[2022-06-18 08:25] raphael-batte commented on #109
Thanks for the feedback! The idea looks interesting, we will discuss it in the UX team.

[2022-06-18 08:48] SiM22 commented on #64
Instead of uptime. Maybe uptime-kuma. It is actively developed

[2022-06-18 12:29] francis-cassbana commented on #98
Hi , I have disabled ingress false, eventhough its trying to install ingress in default namespace ,
i have ingress running in default namespace and trying to install oncall in monitoring namespace and disabled ingress getging below error
Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: IngressClass "nginx" in namespace "" exist

[2022-06-18 13:18] idv-Evgenii commented on #98
@francis-cassbana
Hello, try changing the name from nginx-ingress to ingress-nginx in values.yaml (that is, the name of the archive that is in the chart folder)

[2022-06-18 13:52] francis-cassbana commented on #98
Hi @idv-Evgenii  i changed to ingress-nginx still same error !! i  have ingress controller and cert manager already installed in the cluster so i disabled  it to false eventhough its trying to install it
Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: IngressClass "nginx" in namespace "" exists and cannot be imported into the

[2022-06-18 18:17] 22itay commented on #96
+1

[2022-06-18 20:53] Matvey-Kuk commented on #64
@SiM22 noce idea!

[2022-06-18 20:54] Matvey-Kuk opened #112 "Templates for uptime-kuma"
Should OnCall have native support of https://github.com/louislam/uptime-kuma ?

[2022-06-18 20:55] Matvey-Kuk commented on #64
#112

[2022-06-19 06:38] Matvey-Kuk commented on #110
We are working on the MS teams integration as a part of our cloud offering.

[2022-06-19 13:52] WarriorXK opened #113 "Add support for external MySQL instances"
Since I've already got a locally running MySQL server, it conflicts with the one that the compose file is trying to setup. It would be great if there was out of the box support for referencing an external MySQL server.

[2022-06-20 06:36] xom4ek opened #114 "401 when more that 1 grafana."
We Using HA grafana with postgresql endpoint and OIDC auth.

But some times getting smth like that

<img width="819" alt="image" src="https://user-images.githubusercontent.com/29627495/174537016-919e9f9c-217b-4dce-94a9-10a39d3dad07.png">

[code]
Seems like we need add "sticky sessions" but didnt full understand - why?

[2022-06-20 07:26] roock commented on #110
@Matvey-Kuk Does that mean it will only be available in the OnCall Cloud version or does it mean the ms-teams will behave similar to the current SMS/telephone-Cloud-Integration and only the notification part will need to run on Grafana Cloud?

[2022-06-20 07:54] Matvey-Kuk commented on #110
@roock the whole MS Teams integration will be available only in Grafana Cloud OnCall. MS Teams for OSS is not in our plans, sorry.

[2022-06-20 09:02] roock commented on #110
@Matvey-Kuk nothing to apologize for. I'm very happy Grafana is providing such amazing OSS software. I was just asking what to expect 👍

[2022-06-20 10:35] mboujaha opened #115 "Error connecting to onCall - On a kubernetes cluster"
Hello everyone,

I have an existing kubernetes cluter with grafana already running, and today i installed Oncall using the helm chart provided in the repository.
The Oncall chart has been installed successfully in a different namespace than grafana.
When i try to configure the Oncall plugin on grafana i get the following error message, even though everything has been set properly

[code]

Thank yo

[2022-06-20 12:51] shatovilya opened #116 "Prometeus Exporter oncall"
There is a proposal to make Prometeus Exporter for application monitoring. Monitoring such a critical service is also important if it is deployed locally.

[2022-06-20 12:58] shatovilya commented on #116
@Matvey-Kuk You can try to write prometeus exporter together, I'm interested in the topic.

[2022-06-20 13:14] andy812 commented on #115
@mboujaha could you paste the output of
`kubectl get svc -n oncall -o wide`

[2022-06-20 16:46] kieranajp opened #117 "Issue with user to event association"
Hey, first off I'm really excited by this tool especially given the potential for tight integration with the rest of Grafana!

However I'm unfortunately having some issues with the simplest possible set-up, running locally, that would prevent us from adopting this. Apologies if this is the wrong place to ask for help.

Given a schedule like the following:

![image](https://user-images.githubuserco

[2022-06-20 17:03] kieranajp commented on #117
Update a few mins later: I'm putting this down to Google Calendar weirdness.

The "secret" ICS link wasn't showing on that first calendar I created for some reason, so I had a public link that wasn't working.

I deleted that calendar and created it again, and this time the secret link was available to copy :shrug:

Sorry for the noise, and best of luck building this out :muscle:

[2022-06-20 17:03] #117 closed

[2022-06-20 18:14] Konstantinov-Innokentii commented on #116
@Matvey-Kuk I think that for the monitoring of OnCall from infra some kind of docs about how to reproduce our prod monitoring setup will be great!
@shatovilya What kind of metrics you want to have? Application level, e.g count of incidents processed, amount of paged users or infra's one, like RPS, response classes, etc?

[2022-06-20 20:31] billmetangmo commented on #98
The issue seems to be related to the version of k8s installed by default right now by minkube which is v1.25+ . I installed v1.21.4  instead `minikube start --kubernetes-version=v1.21.14` and it's working.

[2022-06-21 08:28] Matvey-Kuk opened #118 "Calculate OnCall schedule quality"
Alice, Bob, Sam are on call. I think it would be nice to show some "schedule quality" to help users keep schedules in a good shape.

[code]

We're trying to balance on call hours between engineers on call. Balance = 1 is good. Balance = 0 is bad.
[code]

We're trying to avoid people being on call outside of working hours. At least their on call time outside of working hours should be equal.
[code]

[2022-06-21 09:22] geowatson opened #119 "Celery workers graceful shutdown & restart"
For now celery workers are using SIGTERM shutdown within the container itself, thus increasing Restarts value each time.

It would be better to use kubeapi for such task to ensure graceful restart for the service, e.g: [client-go example](https://github.com/kubernetes/client-go/tree/master/examples/create-update-delete-deployment)

[2022-06-21 09:50] Konstantinov-Innokentii commented on #118
@Matvey-Kuk you want to calculate schedule's score or per-user score?

[2022-06-21 10:01] Matvey-Kuk commented on #118
@Konstantinov-Innokentii schedule's score

[2022-06-21 11:42] Konstantinov-Innokentii commented on #80
Hey, thanks for the feedback, we are planning to extend list of supported databases and give opportunity to connect to the existing db servers.

[2022-06-21 11:59] geowatson opened #122 "Connector API for Grafana to automatically connect Grafana to the existing OnCall instance"
It would be great to automatically connect on-premise Grafana instance during upgrade (via helm etc) to the existing OnCall instance via custom env variables, or config in grafana.ini and config in oncall helm chart.

[2022-06-21 13:54] maskin25 commented on #63
good proposal, let's add toggler that allows see raw content

[2022-06-21 14:00] vadimkerr commented on #118
@Matvey-Kuk I propose to use a slightly different formula for balance score calculation:
[code]

It should eliminate the issue with hours distributions like `[7, 8, 8, 8, 8, 8]`, where the formula you provided returns around 50% score, but `[7, 8, 8, 8, 8, 8]` distribution is pretty balanced and should score more than 50% (returns around 95% with the formula I proposed).

[2022-06-21 14:24] vadimkerr commented on #86
@Matvey-Kuk yes, assigned it to myself.

[2022-06-22 22:15] mderynck opened #135 "Display a sample command when creating API token"
On the Grafana OnCall->Settings page when you create a new API token it would be nice if it also displayed an example curl command to make use of the token for testing instead of needing to lookup in the docs.  This would match the behavior that Grafana has when you create an API key in its settings page.

[2022-06-23 02:07] Monkman08 opened #136 "FEATURE: Use Twilio API keys instead of Auth Tokens"
Can we use Twilio API Credentials instead of Auth Tokens? This is an issue for us as there is only one set of Auth Tokens per Twilio account.

[2022-06-23 07:40] klinux opened #137 "Telegram do not work"
I'm trying to connect Telegram but I receive this error:

Telegram, because the incident is not posted to Telegram (reason: Telegram is disabled for the route)

The user was successfully connect to the bot, there something that I need to configure?

Thanks

[2022-06-23 07:46] vadimkerr commented on #137
Hey @klinux, in order to receive messages from Telegram bot, you should connect a Telegram channel on the "ChatOps" page and then use it in the route settings on the "Integrations" page.

[2022-06-23 08:01] Matvey-Kuk commented on #137
@vadimkerr may be let's the improve log message to make it more clear?

[2022-06-23 08:06] vadimkerr commented on #137
@Matvey-Kuk yes, we should do that. We also could consider allowing posting to Telegram DMs without connecting a channel.

[2022-06-23 08:16] Matvey-Kuk commented on #137
@vadimkerr I think we had it in our codebase, didn't we?

[2022-06-23 08:33] vadimkerr commented on #137
@Matvey-Kuk we had it, but decided to enforce channel connection at some point. We could change this back to have DM messages without channel connection.

[2022-06-23 10:40] Konstantinov-Innokentii commented on #135
Good idea, we have /info endpoint in public api. But I am wondering which url wi should use, BASE_URL from settings I guess?

[2022-06-23 12:22] xom4ek commented on #114
So after enable "live" with redis - errors disappeared.

[2022-06-23 12:31] klinux commented on #137
Hi everyone, thank you for the reply, well, I trying to **Connect Telegram Channel**, in the chatops tab, but when I copy the activation code, and paste it on channel, not happens, and when I click at Done button, the screen back to the button to connect telegram channel, and nothing in logs of oncall-engine.

Thank you

[2022-06-23 15:29] mderynck opened #140 "Shift timestamps rendered incorrectly in Slack on mobile"
![Screenshot_20220623-084450_Slack](https://user-images.githubusercontent.com/28077050/175336328-7c4bd41a-266b-4246-8625-2c4df17a16fb.jpg)

Times for shift notification are being rendered as ms instead of normal format.
Screenshot is from Slack app, Android 10 on Samsung Galaxy S10e

[2022-06-24 10:04] dopk opened #144 "silence/pause calls / autoaknowledge for N min"
It'll be nice have easy access function to pause calls or autoaknowledge incidents.
In time when you have big crash you have a lot alerts. Its hard to aknowledge and to make work in same time.

[2022-06-24 10:24] Konstantinov-Innokentii commented on #144
Hey @dopk , thanks for the proposal. Right now I can propose you to use Maintenance mode to mute alerts from noisy sources. (You can find it at the Maintenance mode tab). Also consider checking **Acknowledge Condition** template. If you want to always autoack alerts from source you can set it to true (Check screen).
<img width="1653" alt="Снимок экрана 2022-06-24 в 14 23 08" src="https://user-imag

[2022-06-24 10:28] Konstantinov-Innokentii opened #145 "Phone calls and sms doesn't work on hobby envrionment"
While sending phone notifications we are providing status_callback which is builded from settings.BASE_URL. In hobby deployment BASE_URL=localhost, so Twilio responds with:
`The StatusCallback URL http://localhost:8000/twilioapp/sms_status_events/ is not a valid URL.`

It's needed to check if helm has this issue too @iskhakov

[2022-06-24 10:36] Konstantinov-Innokentii commented on #145
I propose to disable twilio status callback.It brings logs about statuses of phone notifications in an alert group's timeline, but requires public url to work. We can introduce new live_setting, disabled by default, in case someone really want this feature.

[2022-06-24 14:00] mderynck opened #147 "Using Resolve when multiple alert groups are checked not working"
![Screenshot from 2022-06-24 07-57-13](https://user-images.githubusercontent.com/28077050/175551667-450f04a3-2e13-4eab-a04a-c61dfc5c1d37.png)

To recreate:

- Select multiple alert groups
- Press Resolve
- To the right it will say "Results out of date"
- Press Refresh

The selected alert groups should no longer be visible but they are and their status is unchanged.

[2022-06-24 14:11] mderynck commented on #147
This seems to work ok when I test it locally but not in our production environment.

[2022-06-25 20:34] arjunnath opened #152 "Simple install without Docker or Helm/k8s ?"
Hi Folks,

It would be nice to have a simple/plain install option or instructions for Oncall.
The current options all heavily imply existence of Docker/Helm/Kubernetes and this is clearly not the case in all environments.

Thanks

[2022-06-26 00:26] v7enov91 opened #153 "not connecting via https"
oncall hobby not connecting via https to existing grafana,
![oncall-error](https://user-images.githubusercontent.com/108201474/175794509-066b1af8-696b-49ea-9189-7bed5e11dec1.png)
grafana v9.0.1

[2022-06-26 09:41] Matvey-Kuk commented on #153
@v7enov91 could you please try entering the OnCall engine docker container (using "exec") and try "curl -V" grafana url? What will you see?

[2022-06-26 09:45] Matvey-Kuk commented on #152
Hi! docker-compose.yml environment described in readme.ms usually takes a few minutes to launch, which environment you think will be easier to start with?

[2022-06-26 09:58] v7enov91 commented on #153
root@oncall:/home/oncall-admin# docker exec -it 39fb0d79e549 bash
bash-5.1# curl -V htts://<grafanaurl>:3000
bash: curl: command not found

[2022-06-26 10:20] Matvey-Kuk commented on #153
@v7enov91 I guess you need to do smth like "apk add curl"

[2022-06-26 10:20] arjunnath commented on #152
Similar to how we can download and launch grafana using an rpm, deb package or simple tar.gz file, like here : https://grafana.com/grafana/download

What does one do if their environment doesn't have docker ?

[2022-06-26 10:23] v7enov91 commented on #153
container logs:

[2022-06-26 10:23] v7enov91 commented on #153
2022-06-26 10:21:25 source=engine:app google_trace_id=none logger=apps.grafana_plugin.helpers.client Error connecting to api instance HTTPSConnectionPool(host='grafanaurl', port=3000): Max retries exceeded with url: /api/org/users (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)')))

[2022-06-26 10:24] v7enov91 commented on #153
bash-5.1# curl -V "htts://grafanaurl:3000"
curl 7.83.1 (x86_64-alpine-linux-musl) libcurl/7.83.1 OpenSSL/1.1.1o zlib/1.2.12 brotli/1.0.9 nghttp2/1.47.0
Release-Date: 2022-05-11
Protocols: dict file ftp ftps gopher gophers http https imap imaps mqtt pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: alt-svc AsynchDNS brotli HSTS HTTP2 HTTPS-proxy IPv6 Largefile libz NTLM NTLM_WB SSL TLS-SRP

[2022-06-26 10:34] v7enov91 commented on #153
bash-5.1# curl "htts://grafanaurl:3000"
curl: (1) Protocol "htts" not supported or disabled in libcurl

[2022-06-26 10:54] v7enov91 commented on #153
i'm sorry
curl "https://grafanaurl:3000"
curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

[2022-06-26 12:11] v7enov91 commented on #153
curl -vs https://grafanaurl:3000
*   Trying grafanaip:3000...
* Connected to grafanaurl (grafanaip) port 3000 (#0)
* ALPN: offers h2
* ALPN: offers http/1.1
*  CAfile: /etc/ssl/certs/ca-certificates.crt
*  CApath: none
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
* TLSv1.3 (IN), TLS hands

[2022-06-26 12:26] v7enov91 commented on #153
after :
bash-5.1# cp DigiCertGlobalRootCA.crt.pem /usr/local/share/ca-certificates
bash-5.1# update-ca-certificates
WARNING: ca-certificates.crt does not contain exactly one certificate or CRL: skipping
WARNING: Skipping duplicate certificate in file ca-cert-DigiCert_Global_Root_CA.pem

[2022-06-27 10:27] jeschkies opened #155 "Unclear error message in Grafana Incident App"
When I created an incident the name was rejected with the error message "Only natural names are allowed". It wasn't clear to me that `loki-write-errors` was not a valid name because of the dashes. I think the message should be a little bit clearer or at least link to a documentation page.

[2022-06-27 11:37] jeschkies opened #157 "Provide option to set time zone to UTC."
The timeline of a recent incident shows the times in GMT+2. I would like to switch it to UTC.

[2022-06-27 15:59] jeschkies opened #158 "Filter alert groups by title."
Is it possible to filter alert groups by title? I could not find that option
![image](https://user-images.githubusercontent.com/2418440/175982902-17835d34-daa0-4a9e-a9ce-23737bb0c0cc.png)

[2022-06-27 20:07] alyssawada opened #159 "MS Teams integration doc"
Add new doc to support the newly released MS Teams chatops integration with Grafana OnCall

[2022-06-28 07:57] xom4ek commented on #152
So you can copy script from Dockerfile and install this applications by hands and pip.

But regards diffirents between grafana and oncall.
Grafana can start without any dependency.
Oncall cant work without rabbitmq/mysql - you can find issue for `lightweight` installation here #85.

So if problem install docker to your env i suppose its not a problem just read Dockerfile/docker-compose and install

[2022-06-28 11:16] jeschkies opened #161 "Refresh incident page with filters"
How would I update a page showing all incidents for an integration with a status filter? If I reload the filters are gone.

[2022-06-28 11:17] Matvey-Kuk commented on #161
@maskin25 @Ukochka what do you think? 😊

[2022-06-28 14:40] mderynck commented on #158
You should be able to type into that box and it will search alert group text including the titles.
We should probably improve how that is presented and communicated to the user.

[2022-06-28 14:53] raphael-batte commented on #158
@mderynck filtering option will be useful in the list. But usually this functional is on the table title as additional icon
![image](https://user-images.githubusercontent.com/102970268/176210382-2eef8e1f-669d-407e-9b6a-4320889ca0b1.png)

[2022-06-28 14:55] raphael-batte commented on #158
Just quick idea
![image](https://user-images.githubusercontent.com/102970268/176211371-8648fa20-a86a-4283-a0c9-c3a1ff576b4d.png)

[2022-06-28 15:29] demshin opened #163 "Can't connect to existing grafana"
Hi
I have run OnCall as hobby environment via docker-compose (without Grafana) on the same host with existing Grafana (v9.0.1) running as binary.
Than I tried to configure OnCall Plugin (v1.0.3) and get error:

[2022-06-28 15:37] mttradebyte opened #164 "Request failed with status code 404"
We have a Grafana instance (v8.5.0) running on an EC2 instance and is accessed through an internal application load balancer, and OIDC as the authentication.

We have set up OnCall in our EKS cluster and that is accessible through an internet-facing ALB. When attempting to curl from the Grafana instance, I get a response and I can see the associated message in the oncall pod logs. However, when at

[2022-06-28 15:49] Matvey-Kuk opened #165 "Fix links after docs are getting updated"
This PR: https://github.com/grafana/oncall/pull/82/files may break some links in our product or ".md" files. Would be nice to check all of them.

[2022-06-28 18:37] yashumitsu commented on #164
I had the same issue with the default setup variable: `DOMAIN=http://localhost:8080`. Could you check that it's filled with the proper OnCall url?

[2022-06-28 19:26] mderynck opened #167 "Slack notifications not displaying properly on mobile"
On mobile notifications from slack show contents as "This content can't be displayed".

A similar issue:
https://github.com/grafana/grafana/issues/42768
was fixed in Grafana with this PR:
https://github.com/grafana/grafana/pull/45750

We likely need to pass through and add a top level text field to the slack messages we are sending where it is missing.

[2022-06-29 01:28] jeremyruffell commented on #159
Would love to see this!

[2022-06-29 06:01] Matvey-Kuk commented on #163
Hi! As well as I understand you need to make a connection from a service running inside the docker container to q service running on a host.

Host should be accessible from docker using "host.docker.internal" alias.

Check this link: https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach , a few options are described in the comm

[2022-06-29 07:49] raphael-batte commented on #158
@jeschkies Yes, agree. 1000+ items list is really hard to navigate directly without additional filtering. The most common pattern here is to filter items by one or more criteria (for example by incident status Firing) and sort remaining positions by column Title or other.

Can you please describe your current use-case?

[2022-06-29 08:46] freeseacher opened #172 "Actions support"
As oncall engineer i would like to take some actions from chat ops like interface to resolve common issues or launch predefined set of actions to debug environment.

[2022-06-29 08:57] freeseacher opened #173 "Scheduled maintenance support"
As for now we only have an ability to create maintenance that starts right now.
As owner of service i would like to create scheduled maintenance that will start at some time in future.
It would be really great if every scheduled maintenance would have some kind of workflow attached to it for example simple approval would be greatly appreciated.

[2022-06-29 10:08] freeseacher opened #174 "create silece for alert till next working hours"
Lots of small p5 alerts can wait till next working hours.
As schedule owner i would like to setup some kind of working hours or time to debug and close low priority alerts.  something like
notify mon: 9-18, tue: 9-18... fri: 9-18, sat, sun do not notify
and two option notify if still firing, notify anyway.

of cause low priority alerts lead to alert fatigue and must me eliminated but still popular

[2022-06-29 10:13] raphael-batte commented on #174
@freeseacher We plan to add 'working hours' time for users in our upcoming scheduling tools. @Matvey-Kuk Probably, we should to add additional notification options in user settings as well.

[2022-06-29 12:44] Matvey-Kuk commented on #173
Maintenance could be started over API as a temporary solution

[2022-06-29 13:10] raphael-batte commented on #174
Something like this in user settings
![image](https://user-images.githubusercontent.com/102970268/176444267-ee0895f0-ec02-4e50-a560-9f21f81e81b6.png)

[2022-06-29 13:19] freeseacher commented on #174
:thinking:. that settings sounds very opinionated for me.
what is low-priority? how do they defined ?
for me that is not personal setting but option in silence
![image](https://user-images.githubusercontent.com/289277/176445909-6ca82615-0c85-46bd-9c38-1b73a99bd46e.png)

or part of alert proccessing before escalation

as for me i see them throw prism of another product like this

![image](https://u

[2022-06-29 13:28] raphael-batte commented on #174
@freeseacherhow do these settings work if there are people in different timezones with different working hours in the schedule?

[2022-06-29 13:46] freeseacher commented on #174
great question!
i believe that notification should be delivered as fast as possible. so it should be delivered to someone who is on call first

[2022-06-29 13:49] Matvey-Kuk commented on #174
@raphael-batte we have this concept on the Escalation Chain level (with time), why do you think it should go to the Notification Level?

[2022-06-29 14:11] raphael-batte commented on #174
@Matvey-Kuk I am not suggesting removing the silence from the OnCall escalation chain level.
But if users need local time silence, it should be on profile level.

Example:
1. We have an escalation chain with silence step, the server time is Tel Aviv TZ
2. At 9:00 a.m. monday we restart the chain, but at this time we have an engineer from New York oncall, who is now outside of his working hours.

I

[2022-06-29 15:06] Matvey-Kuk commented on #174
Time-based silence in the user space will mean "we escalate to a user" -> "user reacts in a few hours".

It's a pattern we generally want to avoid project-wise. We don't want alerts to "stick" to users for multiple hours. The goal of OnCall is to be an effective alert distributor between team members. What if the user will go to a vacation after the timeout? How to indicate the reason of long resp

[2022-06-29 15:14] raphael-batte commented on #174
Yes, this is the other side of this situation. Agree with the need to rethink/improve the transition mechanic here.

[2022-06-29 16:58] alyssawada opened #179 "Update escalation chains and routes section"
Update and improve escalation chains and routes sections of Grafana OnCall documentation,

[2022-06-29 17:10] mttradebyte commented on #153
Did you ever figure this one out? I also have the same issue currently. Curl works just fine, but it doesn't connect 🤷

[2022-06-30 09:41] Matvey-Kuk commented on #179
@alyssawada will be happy to jump on a call with you and tell everything I know about it if you need it

[2022-06-30 14:00] vadimkerr commented on #137
This should be fixed as https://github.com/grafana/oncall/pull/142 is now merged and released.
@klinux could you try this again on a new version of Grafana OnCall?

[2022-06-30 14:24] Matvey-Kuk commented on #137
@vadimkerr does the PR fix the issue described above with bot being silent when user sends a code to the channel?

[2022-06-30 14:26] iskhakov opened #183 "Maintenance page does not respect teams"
## Description
1. Maintenance page shows all the maintenances from all teams
2. If integration does not belong to the team it's name not displayed in the table
3. If integration does not belong to the team it's not possible to stop it
## Steps to reproduce
1. In Grafana OnCall choose Team 1 in the top right corner
2. Create any integration on the Integrations page
3. Create a maintenance on Mainte

[2022-06-30 14:30] klinux commented on #137
@vadimkerr @Matvey-Kuk
Yes, works like a charm, thank you guys, DM works the channel work too with this fix, here everything is ok now.

Thank you

[2022-06-30 15:14] Matvey-Kuk commented on #137
Thank you! Closing

[2022-06-30 15:19] Matvey-Kuk commented on #65
Proposed to build this integration live in the community call: https://github.com/grafana/oncall/discussions/151

[2022-06-30 15:22] Matvey-Kuk commented on #83
Helm chart is ready https://github.com/grafana/oncall/tree/dev/helm/oncall 🎉 Closing

[2022-06-30 15:22] #83 closed

[2022-06-30 15:29] Matvey-Kuk opened #186 "Integration with Discord"
Opening this issue to collect some feedback from the community.

Does somebody need this?

Also check this one: [Make integration and notifications via mattermost. #96
](https://github.com/grafana/oncall/issues/96)

[2022-06-30 15:29] Matvey-Kuk commented on #96
👋 Kindly asking anyone interested in Mattermost support to leave some note so we'll be able to see how many people are interested.

Also check [Integration with Discord #186](https://github.com/grafana/oncall/issues/186)

[2022-06-30 15:34] #110 closed

[2022-06-30 16:05] Matvey-Kuk commented on #158
Closing this since filtering by title is there :)

https://user-images.githubusercontent.com/3284841/176725097-97741a41-4438-4db5-9ff8-f3ec2d851813.mp4

[2022-06-30 16:05] #158 closed

[2022-06-30 16:06] Matvey-Kuk commented on #165
Reverted changes in docs to fix links

[2022-06-30 16:06] #165 closed

[2022-06-30 19:17] qubitspace opened #187 "Annoying Slack Ping on Resolving Alerts"
When you close an alert it tags the person who resolved it in the thread. When closing even a single alert, I get a ping from slack about it. However I obviously know that I resolved the ticket, so why do I need to get tagged about it. This makes slack unusable when we have to close multiple alerts, and slack blows up and pushing our real conversations below a wall of pings about resolved alerts.

[2022-06-30 20:38] ryanisnan commented on #183
Thank you for this!

[2022-06-30 21:24] andrelop commented on #152
I think a more detailed set of instructions for those of use who want to install a production environment (not hobby) and wnat to use external tools (external Redis, MySQL and RabbitMQ, not the ones provided as part of the docker-compose stack) would be very welcome.

I for one, am struggling getting it to work correclty. There are lots of env vars which do not need to be set when using `settings.

[2022-07-01 00:34] dyvol777 commented on #115
You need to restart grafana. After that everything is ok

[2022-07-01 07:15] apsharapov commented on #96
+

[2022-07-01 14:16] Anon-bit911 commented on #96
Mattermost and slack integration  most desired for grafana on call after webhook and email

[2022-07-01 15:30] ravenjm commented on #96
I'm also intersted in integration with mattermost!

[2022-07-01 20:20] geowatson opened #189 "Getting "too many tries" in OnCall plugin in Grafana"
**Description of environment**

I am using 3 different OnCall instances (each for its own Grafana instance) with external MySQL, RabbitMQ and Redis connections, OnCall is deployed to k8s via helm chart.

**What goes wrong**

When opening the OnCall page in Grafana first time or after switching to another Grafana tab it shows up "Loading Plugin" screen for some seconds, then the message pops out: "

[2022-07-02 01:32] mderynck commented on #189
Quick question about your use case, are you wanting each Grafana instance to have it's own set of OnCall alerts/integrations etc. or are you wanting to to see and interact with the same information from all 3 instances?  The latter is not easy to support yet.

The instances are conflicting on their identity to the OnCall back-end so each time you sign into an instance it is replacing the API key o

[2022-07-02 08:36] geowatson commented on #189
@mderynck I'm using separate MySQL DBs (but on the same host), separate Redis connectors, but single user RabbitMQ instance for every OnCall instance. Could the same RMQ instance with same user cause this issue?

[2022-07-02 15:53] Matvey-Kuk opened #190 "Add info about Slack slash commands so users could find them"
Slack command "/oncall" could invoke such a window for manual alert raising which is a very handful feature. We don't tell about it anywhere in the UI or docs. Does OnCall have other slash commands?

<img width="528" alt="Screenshot 2022-07-02 at 18 51 40" src="https://user-images.githubusercontent.com/3284841/177007529-2445fa97-30ed-471f-9cc9-cbf65aa4fe42.png">

[2022-07-02 15:57] Matvey-Kuk opened #191 "Confusing "Connectivity Warning" panel"
I see such a panel in one of my stacks. It doesn't say what exactly is not good which is pretty confusing. It used to say the reason before so seems like it degraded a bit.

<img width="1359" alt="Screenshot 2022-07-02 at 18 54 41" src="https://user-images.githubusercontent.com/3284841/177007637-2e042ec9-b272-42dd-b793-cd00c4d23561.png">

@Ukochka could you please take a look? Thank you!

[2022-07-03 11:11] Matvey-Kuk commented on #191
Just installed fresh GO, looks like it has explanations for Slack and Phone validation, but it's missing explanation for smth else.

<img width="1310" alt="Screenshot 2022-07-03 at 14 09 31" src="https://user-images.githubusercontent.com/3284841/177036845-48b812cd-9027-4cb2-a045-8bba532994aa.png">

[2022-07-03 11:14] Matvey-Kuk opened #193 "Contact point link markup issue"
Go to "Integrations" -> Create new integration with current Grafana -> The link to "contact point" is rendered like a regular text.

<img width="879" alt="Screenshot 2022-07-03 at 14 12 41" src="https://user-images.githubusercontent.com/3284841/177036933-4b1b28ca-d39c-439b-9e58-41102f1a4fde.png">

@Ukochka could you please check this?

[2022-07-04 10:39] vadimkerr commented on #140
Renders correctly on iOS 15, so seems like the issue is Android specific.

[2022-07-04 13:48] bndrv opened #195 "Integration grafana oncall with zvonok.com"
Hi! Please make integration Grafana Oncall with zvonok.com

API - https://api-docs.zvonok.com/
Github - https://github.com/ZvonokComGroup?q=zvonok-example

Link issue - https://github.com/ZvonokComGroup/zvonok-example-python/issues/1

[2022-07-04 14:09] Matvey-Kuk commented on #195
Hi! That's something I'm not sure the core team will take. We'll be happy to assist external contributors to build a proper PR and get it merged.

[2022-07-04 14:15] Matvey-Kuk commented on #195
If somebody wants to take this task and discuss design with a team, 27 July we'll have a call: https://github.com/grafana/oncall/discussions/151

[2022-07-05 08:06] suess-ecbm opened #197 "Allow customized SMS message without surrounding "Grafana OnCall" text"
Currently SMS are not customizable except for a string in the middle of the fixed message:

The users on our end do not universally speak English, nor do they interface with Grafana OnCall directly.

Therefore we would like to be able to change the _whole_ message content without surrounding fixed references to _Grafana Oncall_, links and the ascii heart.

The current [sms renderer](https://github

[2022-07-05 09:25] raphael-batte opened #199 "Add correct title on browser window on alert details page."

[2022-07-05 10:36] Matvey-Kuk commented on #197
Feel free to contribute the change!

My opinion is that we still should have some unified prefix for all SMS to avoid system misuse. Smth like "Grafana OnCall alert:"

[2022-07-05 13:27] Matvey-Kuk commented on #119
<img width="384" alt="Screenshot 2022-07-05 at 16 26 37" src="https://user-images.githubusercontent.com/3284841/177338726-1723dc14-af83-45e4-9615-6ded15f52784.png">
Fair comment from our slack community. Tons of pod restarts look weird.

[2022-07-05 14:50] BortovEvgeniy opened #202 "Bad variables {{ alert_title }}, {{alert_message }}, {{alert_url }} in the outgoing webhook."
- Outgoing Webhook:
  ![image](https://user-images.githubusercontent.com/66424944/177355202-d234b420-a2bd-4fbc-b16c-5c6f57e9132c.png)

- Alert Templates:
  ![image](https://user-images.githubusercontent.com/66424944/177355809-aa1bdc78-9883-46a2-b80b-b597cc56d6bb.png)

- The received JSON:
  ![image](https://user-images.githubusercontent.com/66424944/177349507-93e99a6e-f0cf-4cc4-a18a-7b3f51a617e2.p

[2022-07-05 15:33] raphael-batte commented on #199
UPD: looks like we need to create titles for all pages

[2022-07-05 19:04] mderynck commented on #189
@geowatson Given what you described my guess would be the same RMQ with the same user is the cause.  As you are already using separate OnCall backends and DBs it is probably easiest to resolve by using separate RMQ instances.

[2022-07-05 19:58] mderynck commented on #115
@mboujaha Was this resolved by restarting Grafana?

[2022-07-05 20:08] kfox1111 opened #203 "simple architecture"
One of the things I really like about alert manager is its very simple design. you launch one and your good to go. You want ha, you launch more then one. If the clustering fails, you still get delivery.

The instructions for oncall mention:
[code]

deploying a ha oncall is very nontrivial, for something that needs to be highly reliable. It would be good to consider an architecture more like alertm

[2022-07-06 06:54] Matvey-Kuk commented on #203
@kfox1111 thank you for the feedback! We're discussing smaller deployment footprint here: https://github.com/grafana/oncall/issues/85

[2022-07-06 06:54] #203 closed

[2022-07-06 06:57] Matvey-Kuk commented on #80
We added this task to the core team's backlog. @matiasb and @Konstantinov-Innokentii will work on it.

[2022-07-06 06:58] Matvey-Kuk commented on #85
We added this task to the core team's backlog. @raphael-batte and @vadimkerr  will work on it.

[2022-07-06 06:58] Matvey-Kuk commented on #98
We added this task to the core team's backlog.

[2022-07-06 06:58] Matvey-Kuk commented on #113
We added this task to the core team's backlog.

[2022-07-06 06:58] Matvey-Kuk commented on #114
We added this task to the core team's backlog.

[2022-07-06 06:59] Matvey-Kuk commented on #116
We added this task to the core team's backlog.

[2022-07-06 06:59] Matvey-Kuk commented on #119
We added this task to the core team's backlog.

[2022-07-06 06:59] Matvey-Kuk commented on #122
We added this task to the core team's backlog.

[2022-07-06 07:00] Matvey-Kuk commented on #135
We added this task to the core team's backlog.

[2022-07-06 09:34] geowatson commented on #189
@mderynck Tried to create different users for the same RMQ host - didn't help. Maybe, should also create RMQ vhost per each OnCall instance and give appropriate permissions?

[2022-07-06 12:28] Matvey-Kuk opened #207 "It's impossible to see plugin configuration details after successful plugin connection"
That's funny. Once user connects the plugin we don't show connection details anymore. I was debugging the issue with a user and ended up asking user to delete config in order to see URL's.

I think it's more like a `bug`, not a `feature request`. Correct me if I'm wrong.

![Screenshot 2022-07-06 at 14 19 22](https://user-images.githubusercontent.com/3284841/177549945-8dff49d2-5a45-492c-b196-3e4787

[2022-07-06 15:15] patnikrishna opened #208 "[Feature Request] show Type for Integrations and Escalation Chains"
As an OnCall user, I can see what Type my Schedule is i.e. how was it created - ical, API/Terraform and so on

I'd also like to view what Type my Escalation Chain or Integration is i.e. was it created manually or via API/Terraform and so on

[2022-07-06 17:46] kfox1111 commented on #85
This is similar to the issue I raised, but slightly different. The idea being that a simple ha setup should be possible without need of an advanced orchestrator and failure modes for the system should fail in favor of too many alerts rather then failing in a way that causes alerts never to generate. alertmanager is the only tool I've seen thus far that has taken this approach to clustering and has

[2022-07-07 16:06] mderynck commented on #140
Docs:
https://api.slack.com/reference/surfaces/formatting#date-formatting
To recreate:
https://app.slack.com/block-kit-builder/T01TZ502XCH#%7B%22blocks%22:%5B%7B%22type%22:%22section%22,%22text%22:%7B%22type%22:%22mrkdwn%22,%22text%22:%22%3C!date%5E1392734382%5E%7Bdate_short%7D%20%7Btime%7D%7CFail%20to%20parse%3E%22%7D%7D%5D%7D

[2022-07-07 19:01] maximecharron opened #209 "Update to the newer Slack SDK and expose SocketMode"
Since this is using the old slackclient library, we do not get access to newer slack features like SocketMode. SocketMode would allow us to deploy oncall on an internal server without having to expose it to the external world or have a relay in place for the Slack integration

[2022-07-08 11:50] raphael-batte commented on #135
Some concept

![Image](https://user-images.githubusercontent.com/102970268/177986735-13079746-4b4c-42b9-a64d-7311929b8a60.png)

[2022-07-08 12:18] raphael-batte commented on #116
new incident numbers on timeline graph?

[2022-07-08 13:26] Matvey-Kuk opened #213 "Use variables in the webhook url"
OnCall allows using variables in the webhook body. Customer just asked to allow using them in the webhook url. Please +1 if you need this feature!

<img width="569" alt="Screenshot 2022-07-08 at 13 48 26" src="https://user-images.githubusercontent.com/3284841/178000752-b35dcefc-9535-481d-8178-05ef5b1adf9a.png">

[2022-07-08 15:18] CastawayEGR commented on #213
+1 for this functionality, this could be useful for rest apis that have different endpoints per "runbook". This way we could add that as a defined label on the alert as a variable in the webhook url.

[2022-07-11 05:29] lazam opened #214 "Schedules Notification Webhook"
By default, the schedule notification only supports Slack, Telegram, and MS teams.

![image](https://user-images.githubusercontent.com/7956429/178194090-59df2f7c-3c92-4b70-9c29-6f3cd808a26e.png)

It will be beneficial for different teams to have a support for webhook  to integrate the notification thru different software via webhook

[2022-07-11 08:29] Matvey-Kuk opened #215 "Alert Group is not found in current team, what should we do?"
### Discussed in https://github.com/grafana/oncall/discussions/128

<div type='discussions-op-text'>

<sup>Originally posted by **Ukochka** June 22, 2022</sup>
It can be a situation that we got a link to alert group, but currently we are on the team which does not know about this alert (seems it can be a situation not only for alerts, but also for other objects in OnCall)

What are our options?

-

[2022-07-11 08:45] raphael-batte commented on #116
@Konstantinov-Innokentii
+ count of new alert groups

[2022-07-11 16:17] MasslessParticle opened #217 "Grafana On Call isn't calling my telephone"
Grafana on call mentioned that my phone had been called in an slack alert but I didn't get called. When I try to `make test call` through the UI, I also don't get any call to my phone.

I have validated my my phone is not ignoring unknown numbers or in do-not-disturb mode

[2022-07-11 16:54] MasslessParticle commented on #217
This was an error on my part

[2022-07-11 16:54] #217 closed

[2022-07-12 08:32] Ukochka commented on #215
@Matvey-Kuk How urgent is this task? I can add just a message from frontend that Incident is not found in this team. but to show which team we should switch we need to do changes on backend.

[2022-07-12 08:56] #145 closed

[2022-07-12 09:11] raphael-batte commented on #113
@Matvey-Kuk Discussed UX-side for this task with @vadimkerr. Probably will be good to provide some context in OnCall settings. Maybe just as links to documentation.

[2022-07-12 12:14] Matvey-Kuk commented on #215
@Ukochka it's not urgent, but definitely worth fixing.

[2022-07-12 12:18] Matvey-Kuk commented on #113
@raphael-batte are you talking about "Settings" page or "Env Variables"?

[2022-07-12 14:14] raphael-batte commented on #113
@Matvey-Kuk probably Settings is more right place for such information

[2022-07-12 14:40] Matvey-Kuk opened #221 "Make sure AI/ML is able to publish resolution notes over API"

[2022-07-12 14:41] Matvey-Kuk opened #222 "Possibility to publish resolution notes over API"
The feature request came from the internal customer.

[2022-07-13 04:05] njohnstone2 opened #226 "Grafana Oncall templates new helper filter regex_replace()"
Grafana Oncall currently supports the default jinja2 filter functions with a handful of helper functions included in this repo. I would like to propose adding a new filter to support the use of regex to replace values within a template.

Grafana alerts provide a `valueString` field in the payload that is sent to grafana oncall. I would like to include this value in my alerting template however cus

[2022-07-13 08:29] Konstantinov-Innokentii commented on #202
Thanks, I'll check it

[2022-07-13 11:47] Matvey-Kuk opened #229 "Formally validate SLACK_INSTALL_RETURN_REDIRECT_HOST"
We can't validate SLACK_INSTALL_RETURN_REDIRECT_HOST on the Slack's side in a background. Anyway users sometimes misconfigure and it's hard to debug:

<img width="676" alt="Screenshot 2022-07-13 at 14 39 15" src="https://user-images.githubusercontent.com/3284841/178725246-2a7fd7cb-1fa6-457d-b264-50c270e77ef0.png">

What if we make at least formal validation on our side for `https://` in the beginn

[2022-07-13 12:22] Konstantinov-Innokentii commented on #202
@Matvey-Kuk let's close it once we will deploy fix

[2022-07-13 14:25] mInrOz commented on #229
Easy mistake that can be made, as variable only specifies HOST.
Not necessarily clear that you need to include the protocol used as well, especially since I assume HTTPS is the only one valid.

Not a huge issue, but If I ran into this. There is probably bound to be others who have the same mindset/thought as I do.
If its not specified, Slack nor the OnCall Plugin gives any meaningful error code. O

[2022-07-13 22:04] Matvey-Kuk commented on #113
@raphael-batte why? As well as I understand the "Settings" page is about in-app level settings. While MySQL configuration is a 100% deployment information. We cover it in our docs. We also don't share information about helm, docker, redis, rabbit, celery, engine in the "settings" page so not sure why "MySQL" is an exception.

[2022-07-13 22:06] Matvey-Kuk commented on #115
@mderynck coudl you please try reproducing this? If the grafana restart is required there it worth mentioning in the docs...

[2022-07-14 05:59] v7enov91 commented on #153
Hello, after replacing Rapid SSL certificate to free LetsEncrypt on grafana, oncall plugin connected normally.

[2022-07-14 07:19] Matvey-Kuk opened #232 "Allow optional local requests for outgoing webhooks"
An OSS user reported in the community that he experienced problems with outgoing webhooks not being able to reach the desired host.

It happened that this security check didn't let it go: https://github.com/grafana/oncall/blob/dev/engine/apps/alerts/utils.py#L60

I propose to introduce env variable "ALLOW_DANGEROUS_WEBHOOKS" (false by default) for those who run OnCall in a trusted environment. Thi

[2022-07-14 07:38] Konstantinov-Innokentii commented on #202
Merged

[2022-07-14 07:38] #202 closed

[2022-07-14 07:40] Matvey-Kuk commented on #221
Duplicate by mistake

[2022-07-14 07:40] #221 closed

[2022-07-14 07:41] Matvey-Kuk commented on #153
@v7enov91 thank you!

[2022-07-14 07:41] #153 closed

[2022-07-14 09:15] mttradebyte commented on #115
For what it's worth, a restart **was** required when installing the plugin via the UI due to an existing Grafana bug.

[2022-07-14 10:05] iskhakov commented on #113
I guess @WarriorXK wants to use the external database In the hobby (docker-compose) setup.
This is really easy to achieve if by removing mysql service from docker-compose.yaml and adding variables MYSQL_HOST, MYSQL_USER, MYSQL_PASSWORD  into .env_hobby file (step 2 of readme):
[code]

We can also make this solution more universal and move mysql service under the profile, as we do for grafana (e.g.

[2022-07-14 10:14] iskhakov commented on #98
* Redis issue is fixed and merged
* Nginx issue is fixed and merged
* If cert-manager is enabled, Kubernetes version 1.25+ is not supported, added the note into helm chart README.md requirements section https://github.com/grafana/oncall/commit/e7b89575f848841bc739940d4846f6107c8c0ea6

[2022-07-14 10:14] #98 closed

[2022-07-14 10:16] raphael-batte commented on #191
@Matvey-Kuk Maybe make this warning more universal as warning for entire ChatOps?

**Idea** Provide context about ChatOps connectivity, because someone uses MS Teams or telegram as main channel for example.

**Proposal**
ChatOps are not connected. Configure(link) at least one ChatOps channel to receive notifications.

**How it works**
If user connects at least one ChatOps channel, warning banner d

[2022-07-14 10:25] Matvey-Kuk commented on #232
FYI: We're taking this to the main team's backlog.

[2022-07-14 10:37] Matvey-Kuk opened #233 "OnCall distribution through .rpm and "snap" packages"
Just a thought: will it simplify installation?

[2022-07-14 10:44] Matvey-Kuk commented on #191
@raphael-batte I like the idea! Actually once user is connecting any ChatOps **or** mobile phone -> no need to show such a banner.

[2022-07-14 10:46] Matvey-Kuk commented on #113
@iskhakov I think for hobby usage your answer here is a solution so closing the issue ☺️

[2022-07-14 11:02] raphael-batte commented on #191
**Proposal**
Communication channels are not connected. Configure at least one ChatOps(link) channel or mobile phone(link) to receive notifications.

[2022-07-14 12:56] pcornelissen opened #234 "Connection issue grafana oncall plugin and oncall engine"
We are having problems to connect the grafana we are running on a kubernetes cluster to the oncall engine running in the same cluster.
The link to the slack conversation is: https://grafana.slack.com/archives/C02LSUUSE2G/p1657620688864209?thread_ts=1657175948.937299&cid=C02LSUUSE2G

But I'll try to sum up what has happened and what we have learned so far:

We tried to connect grafana to oncall usi

[2022-07-14 19:12] mderynck commented on #115
https://github.com/grafana/oncall/pull/236

[2022-07-15 07:14] iskhakov commented on #119
@Matvey-Kuk I'm sure that the probes will restart the container it it doesn't reply to celery ping, it will work for any worker (pod). We can figure out something similar for hobby if necessary.

I don't thing we should restart the pod through kubeapi from the application as proposed in this issue.

[2022-07-17 14:19] geowatson commented on #189
Hi again @mderynck , looks like RMQ separate vhosts solves the issue.

Funnily enough, to connect to VHOST different than / we need to set:
RABBITMQ_PORT="<port>/<vhost-name>"
Because of [this](https://github.com/grafana/oncall/blob/0fd1a2146c88eb9eae1725d913c41895892bac84/engine/settings/helm.py#L31).

I opened up PR which allows setting up your own VHOST value (defaults to `/`)

[2022-07-17 15:46] Gufderald opened #239 "Docker-compose "ERROR: Encountered errors while bringing up the project.""
### Discussed in https://github.com/grafana/oncall/discussions/237

<div type='discussions-op-text'>

<sup>Originally posted by **Gufderald** July 15, 2022</sup>
Hi!
While trying to start hobby playground environment, I've faced with next error on `docker-compose --env-file .env_hobby -f docker-compose.yml up --build -d` stage:
[code]
I can also see `kombu.exceptions.OperationalError: [Errno 111]

[2022-07-18 07:53] Matvey-Kuk commented on #239
@Gufderald thank you for reporting this! Sounds like `oncall_db_migration ` starts before rabbit. We have healthcheck for MySQL, let me see if I can make smth like this for rabbit.

[2022-07-18 08:26] Matvey-Kuk commented on #119
@iskhakov agree, thank you :)

[2022-07-18 09:33] Matvey-Kuk commented on #189
@geowatson thank you! Merged PR and closing.

[2022-07-18 12:57] Ukochka commented on #207
It is request for backend, because we show the message from backend here. @matiasb maybe you can help with this small ticket?

[2022-07-18 12:59] vadimkerr opened #244 "Refetch docker-compose.yml on hobby env update"
Currently when updating the Grafana OnCall engine version according to [the doc](https://github.com/grafana/oncall#update-version), it only pulls a fresh version of `grafana/oncall` image. So if there are any changes in the `docker-compose.yml`, e.g. adding/removing services, these changes will not be applied on the update process.

The proposal is to update the doc so the instruction re-downloads

[2022-07-18 15:34] iskhakov commented on #234
This issue is probably connected to the following grafana bug: https://github.com/grafana/grafana/issues/47530
Please try to restart the grafana pod and run the connection process between Grafana OnCall Plugin and Backend

[2022-07-18 15:56] mderynck opened #249 "Improve OnCall plugin initialization latency"
When you refresh the browser OnCall will run a synchronization process to ensure it knows about all users in the Grafana instance.  Currently this is implemented as a task in celery with the front-end checking for completion.  This was done to reduce request latency.  If you have recently synced and nothing has changed with users this step is unnecessary.

Unfortunately we cannot cache this based

[2022-07-19 07:29] VVgin opened #252 "Slack doesn't show graphics in alerts"
Good day)

After we moved from amixr to Grafana OnCall we got a problem.
When alerts come to slack we don't get graphics from grafana, like it was in amixr (check my screenshot).
But if we check row, we see  "imageUrl": "https://sravni.blob.core.windows.net/sravni-grafana/N56bnrJF9pnNf21OcURFPKpjxXMxk5.png",
This link is opened and correctly, but slack doesn't show it at all.

Payload example for

[2022-07-19 07:33] VVgin commented on #252
<img width="593" alt="How it was from amixr" src="https://user-images.githubusercontent.com/108666699/179692803-dfcd0a95-379c-4760-ac49-76425557761b.png">
<img width="375" alt="How it looks now" src="https://user-images.githubusercontent.com/108666699/179693082-a1a00c6e-7a70-4afb-b961-2155cb6bfbd8.png">

[2022-07-19 08:08] Matvey-Kuk commented on #252
Hi @VVgin, thank you for reporting! what's your image template in the integration settings? From what I see in the payload it should be smth like: `{{ payload. imageUrl }}`.

<img width="500" alt="Screenshot 2022-07-19 at 11 07 24" src="https://user-images.githubusercontent.com/3284841/179700233-2c3ffbd6-f531-474a-a7f4-8e4b62b69920.png">

[2022-07-19 08:13] Matvey-Kuk commented on #239
@Gufderald should be fixed, thank you for reporting!

[2022-07-19 08:17] Matvey-Kuk commented on #226
@njohnstone2 thank you for implementing this feature!

[2022-07-19 08:17] #226 closed

[2022-07-19 08:22] iskhakov commented on #234
The problem was fixed by grafana pod restart

[2022-07-19 08:22] #234 closed

[2022-07-19 08:24] pcornelissen commented on #234
Although a better error message would still be helpful for other users that fall into the same trap

[2022-07-19 08:59] Gufderald commented on #239
Should I open another issue for that?

[2022-07-19 09:35] Matvey-Kuk opened #254 "Link template for autoresolve and "Autoresolve enabled" in the UI"
Those 2 settings are related. We should help users to understand that they are relevant. Users sometimes miss one of them:

<img width="514" alt="Screenshot 2022-07-19 at 12 34 30" src="https://user-images.githubusercontent.com/3284841/179718689-83ec6e87-3d3d-46a7-aace-2a5a0705dbb1.png">
<img width="561" alt="Screenshot 2022-07-19 at 12 33 56" src="https://user-images.githubusercontent.com/3284841

[2022-07-19 09:40] VVgin commented on #252
yes, it's the same - {{- payload.get(imageUrl) -}}

[2022-07-19 10:06] Ukochka opened #255 "Schedules with empty shifts are chashing on frontend"
It is happening because there is no missing_users parameters at the /shedules/{scheduleID}/events endpoint.
But it is there at OPS

[2022-07-19 12:23] #255 closed

[2022-07-19 13:16] Gufderald commented on #239
Actually yes. Previously I've tested it both on our main node (64 threads/32GB ram) and VM(2 threads, 4GB ram), and they had same behaviour. Now node is buisy, so I tested only on VM. I'll be able to try it later, and report it here. Thank you for your reply!

[2022-07-19 15:26] shatovilya commented on #116
@raphael-batte new incident numbers on timeline graph - good idea!

[2022-07-20 09:10] Matvey-Kuk opened #258 "Better routing mechanism for JSON"
We need some better routing mechanism for complex JSON parsing. Doing it with regex only is tricky in cases:
1) You need to match `"key": "value"` and the same `"key": "value"` show up on different levels of JSON. It may be `a.b.c.key` or `a.key`.
2) It's hard to write regex for JSON because JSON is not strict about whitespaces and newlines.

I'm thinking about smth like:
[code]

[2022-07-20 10:02] #114 closed

[2022-07-20 10:02] #115 closed

[2022-07-20 10:22] njohnstone2 commented on #226
No worries and thanks for accepting the change!

[2022-07-20 13:01] tomwilkie opened #260 "Oncall plugin goes blank on narrow windows."
* Chrome Version 103.0.5060.114 (Official Build) (arm64)
* Grafana 39025bb4c
* OnCall v1.0.7

https://user-images.githubusercontent.com/444037/179988214-7ae07384-000c-43a2-8ec9-16e3fef1f3db.mov

[2022-07-20 14:29] vadimkerr commented on #244
@Matvey-Kuk, I updated the description. Yes, this isssue is about README.md "Update version" section.

[2022-07-20 18:42] mderynck commented on #258
What do you think about an option to use `jq` instead of plain regex here?

[2022-07-20 18:48] mderynck commented on #249
Another spot for improvement here is switching teams triggers a reload/initialization.  If possible switching teams should be more like navigating between tabs and not trigger a plugin reload.

[2022-07-21 06:10] grafanalf commented on #260
For the record, I've seen this behaviour while on Safari too, Version 16.0 (18614.1.19.1.5)

[2022-07-21 08:06] #260 closed

[2022-07-21 08:16] tomwilkie commented on #260
Thank you for the quick turn around :-)

[2022-07-21 08:42] fierceou opened #264 "Sending resolve message via outgoing webhook"
Hi! There is no possibility to send resolve message via outgoing webhook now, but it seems to be useful.

[2022-07-21 11:28] jakubvojacek commented on #96
Very much interested!

[2022-07-21 11:54] iskhakov opened #267 "Alert loads slow in the web when the payload is too big (has too many nested objects)"
This bug occurred on our test cluster when uploaded a huge alert the alert with an extremely large payload (json with a huge number nested objects). Template renderer traverses over this data for too long. This is an artificial situation and should happen with normal alerts. Let's consider adding some limit for the alert payload size (i.e. 10000 fields)

[2022-07-21 14:49] VVgin commented on #252
@Matvey-Kuk good evening)
I corrected mistake, but nothing change.
Attached new image
<img width="574" alt="Снимок экрана 2022-07-21 в 17 47 27" src="https://user-images.githubusercontent.com/108666699/180243937-3012bb32-966b-401d-8f09-723b3190f1c7.png">

[2022-07-21 20:15] Nootb opened #274 "Group alerts API missing title value"
Hello! I'm running the hobby version of grafana (fresh install).
When connecting to OnCall with Grafana integration and sending a test alert (or setting up a new alert and letting it fire) the Group alert API query displays title as "null".
![grafana](https://user-images.githubusercontent.com/46826542/180306635-738a4f46-ef72-40d5-ba29-3ef977280005.PNG)

[2022-07-21 22:04] oliveirafilipe opened #275 "Escalation Chain: Continue if not acknowledged"
Hi Folks!

My goal is to create a Escalation Chain which looks like the following:
1. Notify the On-Call user in a Schedule
2. Wait 5 minutes
3. **If alert not yet acknowledged**, notify next user in Schedule
4. Wait 5 minutes
5. **If alert not yet acknowledged**, notify Slack Group

However currently in the chain creation there is no step like "Continue if alert not yet acknowledged".

What do yo

[2022-07-22 07:18] BitProcessor opened #276 "Amixr reference in Oncall"
The codebase seems to be needing some good old search and replace:

[code]

[2022-07-22 07:20] Matvey-Kuk commented on #276
Thank you for the issue!

I think it's better to leave `is_amixr_heartbeat_restored` and add `is_oncall_heartbeat_restored` for backwards compatibility.

Btw we're open for contributions ;)

[2022-07-22 09:04] okycelt commented on #96
We're also very interested

[2022-07-22 09:05] BitProcessor commented on #276
@Matvey-Kuk
The `message` part could probably easily be fixed?
Because as a Grafana Cloud OnCall user, am I supposed to know it once upon a time was called Amixr ? ;)

[2022-07-22 10:00] drobek94 commented on #96
We're also interested.

[2022-07-22 10:44] M4t7e commented on #96
A Mattermost integration would be awesome 👍

[2022-07-22 13:12] matiasb commented on #274
Adding a few more details.
It looks like since we process alerts from newer Grafana through the AlertManager handler, we are not setting a `title` (`message` neither) in the created alert, but it seems we used to do it for previous Grafana versions.
I noticed we don't extract any title or message value for the alert when processing it (I guess because templates could be customized), but maybe we s

[2022-07-22 16:50] mderynck commented on #229
https://github.com/grafana/oncall/pull/280 takes care of the trailing slash, still need to validate for protocol.

[2022-07-22 21:32] Gufderald opened #283 "Can't set up Telegram integration"
Hi!

Faced with some difficulties while setting up Telegram integration.

Firstly, I had set up certain Env variables (`TELEGRAM_TOKEN` and `TELEGRAM_WEBHOOK_HOST`) and restarted `engine`
Secondly, I've managed to see link to my bot on pressing `Connect Telegram Channel` button. However, after following instructions and sending verification code to the channel, nothing happens. Bot seems not to re

[2022-07-22 21:32] Gufderald commented on #239
@Matvey-Kuk Hi again! Tested it on a powerful machine with updated `docker-compose.yml`, and got almost same behaviour as at the beginning of this tread:
[code]
I thought I shouldn't open another issue for this, as behaviour seems to be related to this issue.
However, now `celery` and `engine` errors follows in opposite order, if that means something.
I must also mention, that this is machine with

[2022-07-25 08:10] Matvey-Kuk opened #284 "Collect Telegram setup issues"
Filing this issue cause we hear periodic complains from users about how to set up Telegram. I propose to review the whole telegram setup from 0 to 1 and build a list of places which may be confusing or error-prone. Define unclear steps etc.

My assumption is that there are a few low-hanging fruits which should help us to make TG installation easy and simple.

[2022-07-25 10:09] #183 closed

[2022-07-25 10:59] raphael-batte commented on #284
Possible directions from first explorations:
1. add more clear bot setup description to the OnCall documentation
2. add the TELEGRAM_TOKEN field setup to the Telegram settings tab (table will be as well)
3. after connecting the bot, add the "Send test notification" button directly to the Telegram settings tab

[2022-07-25 17:42] tziokioa commented on #86
Hello team

same issue still occurs. any update ?

[2022-07-26 06:55] Matvey-Kuk commented on #86
@tziokioa it's in our short-term backlog

[2022-07-26 07:02] Matvey-Kuk commented on #239
@Gufderald oh wow! Do you have logs from those failing containers? It will be really helpful.

[2022-07-26 08:30] raphael-batte commented on #254
**Proposal**

Settings tab:

![Image](https://user-images.githubusercontent.com/102970268/180960794-dc018b15-0f1c-49ec-b0ad-9fea7b90cee9.png)

Templates tab. Also added as idea context button to reset field data:

![Image](https://user-images.githubusercontent.com/102970268/180961077-2990bcef-f66e-4ebd-bdbd-e45f69f6d0c5.png)

[2022-07-26 10:06] m0sh1x2 commented on #96
Quite a lot of users are using Mattermost for notifications so it would be great to have a working integration.

[2022-07-26 14:28] raphael-batte commented on #284
UPD
1. add more clear setup steps description to the OnCall documentation
2. make more clear separation between org/personal Telegram
3. add description about 'localhost' limitations

[2022-07-26 16:44] skeilson commented on #167
@mderynck we have at least 2 reports of this problem. Is there any update on this and if not, could an ETA be provided?

[2022-07-26 16:53] summerwollin opened #294 "Slack notifications when override changed but schedule was not affected"
Context: https://raintank-corp.slack.com/archives/C0229FD3CE9/p1658852803728199

Many overrides were created within a couple minutes of each other that did not change the on-call schedule in order to preserve our rotation calendar as we are about to add another person to the rotation. This caused the on-call app to post to slack with notifications about shift changes even though who was on-call fo

[2022-07-26 21:30] tziokioa commented on #86
Thank you Matvey :) thank you all for the great work - just wanted to know the status :)

[2022-07-27 00:16] tommysitehost opened #297 "Incident page fetch alerts in background periodically"
At the moment, we need to reload the incident page to get new alerts or get updated current alerts. It would be great if it can be fetched automatically so you don't need to manually refresh the page.

[2022-07-27 00:29] tommysitehost opened #298 "Make integration and notifications via Google Chat"
As the title, it would be great if Google Chat is supported like Slack/Microsoft Team

[2022-07-27 08:49] Matvey-Kuk commented on #167
@skeilson this issue is not in the short-term backlog yet. Will let you know once we have any updates.

Any contributors willing to fix this are very welcome!

[2022-07-27 10:53] raphael-batte commented on #284
If the user uses a hobby setup and his address is 'localhost', Telegram can't connect to OnCall.

Solution is to make redirect by TELEGRAM_WEBHOOK_HOST.

[2022-07-27 13:07] raphael-batte commented on #284
Proposal upd to the docs page https://grafana.com/docs/oncall/latest/open-source/#update-grafana-oncall-oss:

1. Ensure your OnCall environment is up and running.
2. Create OnCall bot via BotFather and request a key. Then add your key in TELEGRAM_TOKEN in your Grafana OnCall Env Variables.
3. Telegram connection requires external URL. Make sure that you set it in TELEGRAM_WEBHOOK_HOST in your Graf

[2022-07-27 13:46] iskhakov opened #303 "Alert group text search doesn't work in v0.0.13"
We need to add the field with the alert content to make it searchable

https://github.com/grafana/oncall/blob/dev/engine/apps/api/views/alert_group.py#L190

[2022-07-27 14:23] Bahus commented on #167
@Matvey-Kuk this confuses me a lot.

As far I remember slack always was a paramount integration in amixer/grafana on call, so it's very strange to hear that most of the product users (especially paying ones) still have to click on a notification to open slack and see full alert message. Same on a phone and a desktop.

It's very very annoying, counterproductive and (from my point of view) unaccepta

[2022-07-27 14:35] rs commented on #167
Agreed. As a paying customer, this is making oncall barely usable and very inconvenient.

I would suggest a special field to set the notification text in the oncall configuration UI.

[2022-07-28 08:16] raphael-batte commented on #284
ChatOps setup upd:

![Image](https://user-images.githubusercontent.com/102970268/181456724-5cee9845-a3c9-422c-8c23-4403464f3c23.png)

[2022-07-28 09:20] iskhakov opened #304 "Markup issue on User Profile page"
Bug appears on the following tabs:
* Telegram connection
* Mobile app verification
* Ms Teams

See the video for details:
https://user-images.githubusercontent.com/2262529/181470191-df3e9ddf-42d9-43b7-93c6-74a60b144e87.mov

[2022-07-29 11:49] raphael-batte opened #310 "Remove hiding stars on ENV page in blank rows"
There are hidden by default row states on ENV page, but blank rows also have stars on values columns:
![image](https://user-images.githubusercontent.com/102970268/181751977-37d39705-f755-4afe-b609-11a076e2a4ce.png)

Proposal: remove stars from blank fields to make list more readable:
![image](https://user-images.githubusercontent.com/102970268/181752432-91ecaca3-dfbd-42f5-883a-a967385ce226.png)

[2022-07-29 11:59] raphael-batte opened #311 "OnCall plugin configuration page and api-key issue"
When user configures the onCall plugin on the */plugins/grafana-oncall-app page, in case of a connection error (for example host was invalid), the api-key becomes outdated, but the user does not receive this information as error message.

Proposal:
- add to error message information about key and hint what user should generate new key
- add hint to documentation

[2022-07-29 13:06] raphael-batte commented on #284
Possible updates:

**Documentation:**

I. Setup connection to Telegram API

Ensure your OnCall environment is up and running. Create OnCall bot via BotFather and request a key. Then add your key in TELEGRAM_TOKEN in your Grafana OnCall Env Variables.
2. Make sure that you the has set the TELEGRAM_WEBHOOK_HOST variable on the Env Variables page. TELEGRAM_WEBHOOK_HOST must start with “https://” and

[2022-07-29 17:16] mingbo-turing opened #312 "Phone call error with "we are sorry, and application error has occurred""
Got error when test alert using phone call from self-host installation.  After successfully synced with Grafana cloud, I can send alert to phone numbers. The system called and read out message correctly, but when I press "1" to ack, it says "we are sorry, and application error has occurred" then hang up.

cc: @matiasb @Matvey-Kuk

[2022-07-29 17:20] matiasb opened #313 "Connecting slack account ends with blank 401 page"
When trying to connect a user to an slack account already connected to another user in the same organization, the web flow ends with a 401 blank page, with no information or details to the user.

[code]

[2022-08-01 08:53] enterdv opened #316 "Invalid API key"
After upgrade Grafana OnCall plugin and backend to version 1.0.13 plugin can't connect to grafana.
[code]
In grafana logs I see
[code]
What should i do to make it work? Before upgrade all works fine. I tried to disable plugin and reconfigure it but no luck.

[2022-08-01 09:34] vadimkerr commented on #283
Hi @Gufderald, could you please check that the `TELEGRAM_WEBHOOK_HOST` variable you set starts with "https://"? Telegram only accepts externally available https webhook URLs, so I think this could cause the problem. Please let me know if this helps to solve the issue.

FYI: We're working on better validation for this kind of env variables in this [PR](https://github.com/grafana/oncall/pull/307).

[2022-08-01 12:34] jakubvojacek opened #317 "Cannot edit wait delay in escalation chain"
Hello

- grafana v9.0.5 (1b595e434a)
- oncall plugin v1.0.13
- oncall backed - latest master (8fa547ee114b1362469e66e20c05ae59d2a77295)

I am having trouble with editing the Wait delay (in minutes) on the edit escalation page. When I select the field, a dropdown opens with "No options found". I tried manually entering number into the textfield but after clicking outside of the element, it becomes

[2022-08-01 14:27] raphael-batte opened #318 "Slack installation UX checking and improvement"
Some steps in our Slack in does not provide context about possibilities. For example dialog below will be good to add information  about reasons to install personal Slack:

![Image](https://user-images.githubusercontent.com/102970268/182169793-26b18671-7c7d-4b6f-a94d-5417a222be45.png)

Will be good to write that now he only has read-only, and for notifications and management he needs to connect a

[2022-08-01 18:46] mothershipper opened #319 "FEATURE_TELEGRAM_INTEGRATION_ENABLED doesn't affect telegram UI"
We've attempted to disable the telegram integration by setting this to `False` on both the engine and celery worker deployments.  But we're still seeing the telegram verification warning in the UI for our end-users:

<img width="226" alt="Screen Shot 2022-07-29 at 1 16 57 PM" src="https://user-images.githubusercontent.com/57678801/182221474-6bec3109-393f-4ea3-aee3-d4857e6c31d7.png">

Initial thoug

[2022-08-02 09:30] iskhakov commented on #167
We decided to prioritize this bugfix, thanks for the feedback.
It's in our short-term backlog now

[2022-08-02 09:34] Matvey-Kuk commented on #254
@Ukochka closed it with https://github.com/grafana/oncall/pull/309

[2022-08-02 10:00] Matvey-Kuk commented on #312
@mingbo-turing thank you for the bug report! And thanks to @matiasb for fixing it :)

The feature of closing/acking alert groups via phone is not available for OSS-cloud connector yet. Robot won't read this text.

[2022-08-02 10:00] #312 closed

[2022-08-02 10:04] Matvey-Kuk commented on #319
@mothershipper thank you for the bug report! The issue should be easy to fix, but most of core team FEs are on PTO now so feel free to hack the solution :)

[2022-08-02 10:17] Matvey-Kuk commented on #317
@jakubvojacek thank you for the report! I'm not able to reproduce, could you please help me?
<img width="1412" alt="Screenshot 2022-08-02 at 13 14 01" src="https://user-images.githubusercontent.com/3284841/182351382-65eae545-20d1-4b5c-b785-cb61c233dc3d.png">

Do you see the same response for this API call if you open this page using Dev Tools?

[2022-08-02 10:19] Matvey-Kuk commented on #316
@enterdv seems like for some reason the API key need to be updated. Could you please try issuing the new one and reconfigure the plugin?

[2022-08-02 10:30] enterdv commented on #316
@Matvey-Kuk Hi, you mean invitation token or Grafana API key? I tried issuing invitation token and Grafana API key, same issue
[code]
curl with token from oncall-engine pod to grafana works fine
[code]

[2022-08-02 10:39] Matvey-Kuk commented on #316
@enterdv I meant Invitation Token. Could you please share logs from OnCall's "engine" container?

[2022-08-02 10:43] enterdv commented on #316
Sure
[code]

[2022-08-02 10:49] enterdv commented on #316
Now I just scale engine deployment to 1 replica, reconfigure plugin and everything worked

[2022-08-02 10:54] Matvey-Kuk commented on #316
@enterdv thank you for letting us know!

[2022-08-02 10:54] #316 closed

[2022-08-02 10:58] enterdv commented on #316
@Matvey-Kuk I think you need to document that engine can only work with one instance.

[2022-08-02 11:07] jakubvojacek commented on #317
Hello

I only see `notification_policies` but its a OPTIONS, not a POST/GET request, therefore it has no preview response.

Please let me know what else should I check

<img width="1003" alt="Screenshot 2022-08-02 at 13 05 30" src="https://user-images.githubusercontent.com/3463456/182360338-cb984b68-7bdc-4243-80fb-d2cd0b42bb74.png">

[2022-08-02 11:13] aknuds1 opened #321 "Notification for engineer going on call"
I would very much like for Grafana OnCall to notify an engineer when they're about to go on call, in good time so they are aware. The way I recall it, PagerDuty would send me an email the week before I would go on call.

This functionality is essential since the schedule could change since the last time you check it, and it's happened to me that I was scheduled to be on call the same week as I was

[2022-08-02 12:05] Matvey-Kuk commented on #317
@jakubvojacek that's already helpful, thank you! @maskin25 could you please check this one once you are back?

[2022-08-02 14:43] raphael-batte commented on #284
Initial info for users.

ChatOps:

You can manage incidents directly in your team channel. Make sure your team connects Telegram in their OnCall user profiles too. Users can perform actions (acknowledge, resolve, silence) and discuss alerts only if they set up personal Telegram connection. Notifications will be serve as links to the channel.

To manage incidents as user’s direct messages, your nee

[2022-08-02 14:43] raphael-batte commented on #284
**Connect personal Telegram**

You can manage incidents directly in your personal Telegram. To establish connection you need to setup Telegram environment first.

Alert:
Telegram environment is not detected.
 Before connecting personal telegram account, please configure your OnCall bot and fill out ENV variables related to Telegram.

Find more in OnCall documentation.

[2022-08-02 16:29] replay opened #322 "[Feature request] Detect it when people are on PTO and scheduled on a rotation"
We have experienced multiple situations where a person was scheduled on a Grafana OnCall rotation at a time when they were on PTO.

We have a PTO calendar (generated by Bamboo), it would be great if we could provide Grafana OnCall with a PTO calendar link and then OnCall could detect it if somebody is scheduled on a rotation at a time when they are expected to be on PTO. This feature doesn't need

[2022-08-03 08:25] aknuds1 opened #325 "Automatically un-acknowledge incidents for engineer ending their shift"
When the current on-call engineer ends their shift, I think their acknowledged incidents should be un-acknowledged, so the engineer whose on-call shift starts can take them. The way I recall it, this is how it works with PagerDuty.

I experienced just yesterday that I forgot to un-acknowledge an incident when I went off call, and got reminded late in the evening by OnCall.

[2022-08-03 17:25] iskhakov commented on #167
We were able to reproduce the issue on the android devices. On ios and on the desktop push notifications were able to display the information about the alert. We'll apply the hotfix soon and will consider adding the separate optional template to configure the text you see in the push notification

[2022-08-03 19:13] rs commented on #167
We can definitely reproduce the issue on iOS and macOS.

[2022-08-04 08:25] Matvey-Kuk commented on #325
@aknuds1 such a great idea, thank you!

[2022-08-04 08:28] Matvey-Kuk opened #334 "1 engine = 1 frontend. Need clarification."
For now 1 engine = 1 frontend is the only one well-tested OSS setup. We need to be more explicit about it.

Idea came from: https://github.com/grafana/oncall/issues/316

[2022-08-04 09:30] raphael-batte opened #336 "Mismatched sections on OnCall side menu and tabs"
Current sections in these two groups are different.

![Image](https://user-images.githubusercontent.com/102970268/182814035-2e29e852-e79d-4275-b04c-0b34db605980.png)

**Things to do:**
1. match items
2. make equal sort (as Tabs)

[2022-08-04 16:51] benclauss opened #339 "Cannot specify resources for celery wait-for-db container"
https://www.openpolicyagent.org/docs/v0.12.2/kubernetes-admission-control/

When trying to deploy OnCall with a validation requirement that all containers have CPU and memory requests and limits set, my deploy fails.

[code]

The `wait-for-db` container has no resource requests and these values are **not** configurable via `values.yaml`.

[2022-08-08 08:36] ravenjm commented on #96
@Matvey-Kuk should we expect feature in the near future?

[2022-08-08 08:45] sergeyshevch commented on #80
@matiasb @Konstantinov-Innokentii Can you give us any estimates about it? This issue can prevent multiple companies from testing and adopting grafana oncall. For example, we want to try it and have grafana set up on PostgreSQL.
But we have no MySQL databases in our company and we don't want to set up it only for oncall

[2022-08-08 08:58] #254 closed

[2022-08-08 10:25] Tab-ops commented on #283
@Gufderald I have the same problem, did you solve it?

[2022-08-08 11:44] dannykopping opened #341 "Support an alias to alert all on-call engineers"
At Grafana Labs, we have several teams with on-call schedules.

Occasionally, we need to make an announcement (about an incident, an impending change, etc) and alerting `@here` or `@channel` in our shared engineering channels is too noisy; we just need to alert the on-call engineers since they will likely be the first responders should anything go wrong.

We are already using (and loving) the auto

[2022-08-08 11:47] Matvey-Kuk commented on #283
@Tab-ops could you please provide some details of your setup? Do you use `https://` link for telegram for TELEGRAM_WEBHOOK_HOST as @vadimkerr mentioned above?

[2022-08-08 12:06] iskhakov commented on #341
Thank you for the request
Right now we allow adding a slack group with all oncall engineers per one oncall schedule.
We'll consider adding a new slack group (e.g. @grafana-oncall-all) for all oncall engineers from every oncall schedule

[2022-08-08 12:45] matiasb commented on #80
hey @sergeyshevch, there is a [WIP branch](https://github.com/grafana/oncall/pull/211/) where I have been doing some initial work. There are still a few decisions to be made on how we should document/how much support should be provided, but it would be great to read if you have any thoughts about that.

[2022-08-08 15:22] matiasb opened #342 "Allow user to unlink slack account"
There is no way to change or unlink a slack account in the user's profile.

[2022-08-08 18:00] vsmanu opened #343 "Add node selection logic in the helm chart"
The oncall helm chart is missing basic node selection logic. It would be nice to have a granular control over the node selection.

[2022-08-08 18:24] sergeyshevch commented on #80
@matiasb It looks great! I also guess that we need to ensure that no MySQL or PgSQL-specific fields will be used in the code. Or they have API compatible alternatives

[2022-08-08 18:26] vsmanu commented on #343
I have created a pull request, at least for engine https://github.com/grafana/oncall/pull/344

[2022-08-09 06:40] acr-varonis opened #347 "Make integration and notifications via Email/SMTP"
Pretty self-explanatory.
I want the ability to configure an SMTP and notify users via Email.

Thanks.

[2022-08-09 10:21] Matvey-Kuk commented on #336
Nice catch!

[2022-08-09 10:43] Matvey-Kuk commented on #339
@benjaminclauss hello, could you please provide details of your environment and other logs? Based on one log line it's almost impossible to debug.

[2022-08-09 10:59] Matvey-Kuk commented on #96
Friends, we really want to deliver Mattermost integration as soon as possible. Since OnCall is an OSS project and the core team already has a huge backlog, we came up with an idea to organise a group of volunteers in order to make it happen.

If you are interested in participating in the working group which will build Mattermost integration, please sign up to our public slack: https://slack.grafan

[2022-08-09 11:04] Matvey-Kuk commented on #96
@matiasb it would be cool if you provide some information about `messaging backends` (our plugin system for ChatOps) here in writing or in a future video call. WDYT?

[2022-08-09 11:07] Matvey-Kuk commented on #342
Oh wow, that's a cool catch.

[2022-08-09 11:17] Matvey-Kuk commented on #347
@acr-varonis thank you for the feature request! Btw @matiasb already started working on it, feel free to try and contribute: https://github.com/grafana/oncall/pull/50

[2022-08-09 11:19] acr-varonis commented on #347
@Matvey-Kuk Thank you for letting me know!
is the progress tracked somewhere or are you going to keep this issue for tracking?

[2022-08-09 11:24] Matvey-Kuk commented on #347
@acr-varonis we'll keep this issue for tracking

[2022-08-09 21:43] mderynck opened #351 "Links in OnCall plugin navigate current tab instead of opening a new one"
In the OnCall plugin throughout the interface (+configuration page) when you click on an external link it navigates to the link in the current tab instead of opening a new tab, there is no warning to the user they are about to leave Grafana.  This is annoying as usually the link is some reference material (docs) and you want it alongside the current content you are viewing.  In other plugins and G

[2022-08-10 08:47] mimahesh commented on #226
Hi i am trying to get Metric and value output separately and did same for web template but for Microsoft team Template same rule are not able to apply . is there any specific reason for that

<img width="663" alt="jinjatemplate" src="https://user-images.githubusercontent.com/101265259/183857721-7b98fd37-3393-45e9-80d4-02d0e29df836.PNG">

Metric = {{payload.valueString|regex_replace("\[ var='.*' me

[2022-08-10 18:19] alyssawada commented on #334
Hey @Matvey-Kuk - Just saw this issue, adding it to my list to get updated.

[2022-08-10 18:28] alyssawada commented on #159
This issue was left open by mistake and should have been close on June 29. This work was completed in [PR 168](https://github.com/grafana/oncall/pull/168). The Microsoft Teams integration doc can be found at https://grafana.com/docs/grafana-cloud/oncall/chat-options/configure-teams/

[2022-08-10 18:28] #159 closed

[2022-08-11 06:46] acr-varonis commented on #341
this will also be useful for issue https://github.com/grafana/oncall/issues/347 since in some cases you want to Email a whole team and not just an indevidual

[2022-08-11 08:49] Matvey-Kuk commented on #226
@matiasb could you please check this one ☝️ ? Thank you!

[2022-08-11 08:52] Matvey-Kuk commented on #334
@alyssawada thank you!

[2022-08-11 14:41] Matvey-Kuk commented on #239
Closing.

[2022-08-11 19:08] mderynck opened #357 "Inconsistent loading layout"
When you first open OnCall the loading screen looks different from if you access it and then navigate between other apps.
First Time Loading:
![Screenshot from 2022-08-11 13-03-59](https://user-images.githubusercontent.com/28077050/184219735-e87c7154-0684-46c2-8912-ae6575c8abe5.png)
Subsequent Loading (Tabs already present and the layout for the tabs is messy):
![Screenshot from 2022-08-11 13-05-0

[2022-08-11 20:40] alyssawada opened #358 "Add explicit mention of SMS for SEO purposes"
Add a sentence to the [configure personal notification policies](https://grafana.com/docs/grafana-cloud/oncall/getting-started/#configure-personal-notification-policies) section that explicitly states all possible notification methods (specifically SMS).

[2022-08-12 07:32] teodosii opened #360 "Select dropdown keeps opening by itself on Edit Schedule"
Steps to reproduce

1. Navigate to Schedules
2. Open dropdown selection for `Current shift notification settings` (issue replicates with some other selection dropdowns too)
3. Select the same value or click outside to dismiss selection
4. Click outside nav bar to exit settings

The selection dropdown will keep open by itself and will not let you get out of edit.

[2022-08-12 10:04] tommyjcarpenter commented on #86
I do not use this repo, but I'm chiming in to say this is the closest issue I've found on the web to mine! I have an alpine bsed image that runs UWSGI. I can run that docker image in Ubuntu fine (docker installed on ubuntu). However, when I run this image on my M1 Mac using Docker For Mac, I get the exact same error as above.

Do any of you have an idea as to what can be done for that? I was think

[2022-08-15 06:54] smety commented on #86
HI, i have same problem, do you know when it will be fixed?

[2022-08-15 20:21] alyssawada commented on #358
PR merged

[2022-08-15 20:21] #358 closed

[2022-08-15 20:27] jakubvojacek commented on #317
Hello @Matvey-Kuk @maskin25

have you been able to confirm that this is actually an issue yet, please? Not something wrong with my installation only?

Thanks
Jakub

[2022-08-16 11:25] iskhakov opened #371 "ack_url_post and ack_url_get don't work"
* check and fix ack_url_post and ack_url_get parameters
* add this feature to the documnetation and highlight in the interface

[2022-08-16 13:33] Matvey-Kuk commented on #371
@iskhakov do we want to add them? Shouldn't it be a feature for a webhook?

[2022-08-16 13:52] Matvey-Kuk commented on #371
`ack_url_post` and `ack_url_get` are optional payload paramethers which used to exist in the product before oficial release. I think we shouldn't bring this feature back because:
1) Processing payload paramethers without templating is breaking the concept of "render everything using Jinja" we have. Those paramethers were hardcoded which means if the payload source is not able to form the proper li

[2022-08-16 13:56] iskhakov commented on #371
Nice idea, I'm agree, we need to give the users ability to trigger outgoing webhooks based on the different events, such as `incident acknowledged`, `incident resolved`, also we can allow using outgoing webhooks in the personal notifications.

[2022-08-16 13:57] Matvey-Kuk commented on #371
Personal notifications is a great idea! It will increase OnCall's apllicability a lot.

[2022-08-16 14:00] iskhakov commented on #371
* we need to add get method to the outgoing webhooks
* we need to allow using json as a field (right now ninja converts it into string)

[2022-08-16 19:21] gilbertobr opened #377 "Error importing integrations using pagerduty-migrator"
I identified that when using pagerduty-migrator I get the following error:
TypeError: 'NoneType' object is not subscriptable

![image](https://user-images.githubusercontent.com/20375245/184963794-1a227f19-f70a-42cb-be39-f855df6a550f.png)

File:
https://github.com/grafana/oncall/blob/dev/tools/pagerduty-migrator/migrator/resources/integrations.py
Line: 17
Solution:
[code]

[2022-08-16 19:38] gilbertobr opened #378 "Integration_report function error"
After locally applying this suggested fix
https://github.com/grafana/oncall/issues/377

I have received the following error.
![image](https://user-images.githubusercontent.com/20375245/184967097-3a223852-f42b-4cb0-aa55-64a659ac1f72.png)

[2022-08-16 20:21] gilbertobr commented on #378
I don't know if this would be the best scenario, but I managed to solve it by replacing the key integration["oncall_type"] for integration["name"]

File: https://github.com/grafana/oncall/blob/dev/tools/pagerduty-migrator/migrator/report.py

Code Adjustment:

[code]

[2022-08-16 22:54] gilbertobr commented on #378
When executing the command docker run -e MODE="migrate" pd-oncall-migrator I came across several other errors.

In the file:
https://github.com/grafana/oncall/blob/dev/tools/pagerduty-migrator/migrator/__main__.py
Line: 120 I needed to change the oncall_type to name

In the file:
https://github.com/grafana/oncall/blob/dev/tools/pagerduty-migrator/migrator/resources/integrations.py
Line: 53.
Grafan

[2022-08-17 07:33] Matvey-Kuk commented on #377
Hi @gilbertobr thank you for the issue! @vadimkerr could you please check? Also @gilbertobr feel free to propose a PR

[2022-08-17 07:34] Matvey-Kuk commented on #377
I found the PR, nevermind: https://github.com/grafana/oncall/pull/379

[2022-08-17 07:46] #215 closed

[2022-08-17 07:53] Matvey-Kuk opened #380 "More explicit connection exception during installation"
From our Slack community. User reported that it's unclear what exactly is wrong:

![image](https://user-images.githubusercontent.com/3284841/185064660-85be13ea-66c4-47af-818f-aa77955908a0.png)

Can't be disagree. It's really confusing. Could we improve message there? More data about what exactly is wring? Http exception? SSL details?

[2022-08-17 09:59] Matvey-Kuk commented on #61
1

[2022-08-17 10:01] Matvey-Kuk commented on #61
1

[2022-08-17 11:10] maskin25 commented on #317
@jakubvojacek actually request OPTIONS /grafana-oncall-app/api/internal/v1/notification_policies/ should have a response (check it in response tab). Response should contain a wait_delay options as @Matvey-Kuk showed

[2022-08-17 11:17] jakubvojacek commented on #317
It does not have any response, its blank, please check the curl below as well as screenshot from the network console

[code]

<img width="897" alt="Screenshot 2022-08-17 at 13 15 28" src="https://user-images.githubusercontent.com/3463456/185105385-777b10e9-5ae8-43c6-ba68-f81746b982bf.png">
<img width="1211" alt="Screenshot 2022-08-17 at 13 15 24" src="https://user-images.githubusercontent.com/3463

[2022-08-17 11:26] maskin25 commented on #317
hmmm interesting, it has response in my tests (see below)
can you try it in other browser please, maybe your browser policies block this request

[code]

[2022-08-17 11:30] maskin25 commented on #317
or maybe your browser modify request somehow, our CURLs are slightly differ

[2022-08-17 11:33] jakubvojacek commented on #317
I tried safari and FF with same results only to realize that haproxy is to be blamed. I intercept OPTIONS request and return 200 or 500 with allowed options, something like

[code]

When I remove this line, it starts to work immediately.

I was under impression that OPTIONS requests should not return data?

Anyhow, I finally can select minutes, should I close this issue now?

[2022-08-17 11:38] Matvey-Kuk commented on #317
@jakubvojacek thank you for raising the issue! Hope it will hope others who face similar problem.

[2022-08-17 11:38] #317 closed

[2022-08-17 11:45] maskin25 commented on #317
and yes, you are right: according to specifications we should not use OPTIONS request here, it's better to use usual GET request, but actually it works

[2022-08-17 13:38] jakubvojacek commented on #317
would it be possible to change to GET/POST in the future to comply with the specs?

[2022-08-17 23:14] alyssawada commented on #334
Closing this issue - merged PR370 addressed this.

[2022-08-17 23:14] #334 closed

[2022-08-18 10:13] maskin25 commented on #161
@jeschkies sorry for late response, actually it was a bug, it's fixed now, you can reload page and filters will not be cleared

[2022-08-18 10:16] teodosii commented on #351
@mderynck This was merged. Can you please double check to see if there's any link left that doesn't open in a new window?

[2022-08-18 10:17] #304 closed

[2022-08-18 11:02] Konstantinov-Innokentii commented on #63
@Matvey-Kuk I have a question here. We want to have this toggler for each alert in the group?
<img width="780" alt="Снимок экрана 2022-08-18 в 16 01 53" src="https://user-images.githubusercontent.com/20221722/185379914-6ad7d06d-7ca5-485f-99a6-57858df26691.png">

[2022-08-18 11:25] Matvey-Kuk commented on #63
@Konstantinov-Innokentii yep, that's my proposal.

[2022-08-18 14:14] #360 closed

[2022-08-19 04:48] alpenfritz opened #384 "Separate Grafana URLs for internal and external usage (helm)"
We have installed Grafana OnCall OSS via helm. Grafana itself is installed externally, that is, in the values.yaml file for OnCall we have set the following:

[code]

We get the following output from the oncall chart installation:

[code]

Now, for the Grafana URL we have specified the service name of Grafana's kubernetes deployment, for example: `http://grafana-service:80`. Everything is working

[2022-08-19 14:41] gilbertobr opened #387 "[pagerduty-migrator] Error performing migration"
I came across the following error when using MODE="migrate"

This error usually appears when the process is almost over.

Note: If you run MODE="migrate" again, it breaks elsewhere.
Saying that there is already a "schedule" registered.
FIle: https://github.com/grafana/oncall/blob/dev/tools/pagerduty-migrator/migrator/oncall_api_client.py

In my view... the behavior should be:
If it already exists,

[2022-08-19 16:07] gilbertobr commented on #387
If I add an elif it breaks somewhere else...
![image](https://user-images.githubusercontent.com/20375245/185660512-16380018-7eb1-4f72-a21d-3654796571ac.png)

[code]

Schedule Value:

`{...,
'oncall_schedule': {'detail': 'Schedule with this name already exists'}, 'unmatched_users': []}`

[2022-08-21 19:45] jakubvojacek opened #388 "Alert filtering by title not working"
Hello

I am using grafana `9.1` with oncall `v1.0.22`. I tried filtering by title which should work according to https://github.com/grafana/oncall/issues/158 but I cannot get it to work.

https://user-images.githubusercontent.com/3463456/185808208-99884e02-eb44-4802-927f-1c5690d3e037.mov

Is it possible that it got broken since issue #158 was resolved?

Thank you
Jakub

[2022-08-21 19:50] jakubvojacek opened #389 "Sort alerts"
Hello

would it be please possible to add the ability to sort the alerts by

- created date
- updated date

As of now, the created date is shown on the grid but its not sortable. But sometimes the updated date is much more interesting to see & sort by (when one alert has multiple subalerts grouped together). Right now when an alert was received yesterday and again today, I wont see it at the top o

[2022-08-22 10:49] ksa-real opened #390 "Provide access to alert group in templates"
The ask is to allow richer notification templates similar to AlertManager. I'm particularly interested in Slack, but the ask applies everywhere. AlertManager finds common labels in the alert group and transforms the alert group into something like:
[code]
This allows nice notifications, where the common part is not repeated and full group is displayed.

Right now it looks like only one alert from

[2022-08-22 13:30] vadimkerr commented on #229
This should be now fixed by https://github.com/grafana/oncall/pull/307

[2022-08-22 13:30] #229 closed

[2022-08-22 17:45] jakubvojacek opened #391 "Ability to delete alerts"
Hello

would it be please possible to add the support of deleting alerts? Like wiping them completely, not just resolving them? Sometimes we get alerts which were caused by some stupid mistake and we dont want them to mess up the acknowledged/resolved statistics.

Thanks for the consideration

Jakub

[2022-08-23 04:22] jpike88 commented on #191
I've already connected slack, but the banner still shows. I don't use telegram or teams, nor do I want to.
<img width="558" alt="Screen Shot 2022-08-23 at 11 22 13" src="https://user-images.githubusercontent.com/9585787/186069160-bc725710-4e05-4b6f-84c2-200392618bbc.png">

[2022-08-23 10:53] melikesozeri commented on #342
Oh really need this.

[2022-08-23 13:12] #351 closed

[2022-08-23 13:55] mattmendick opened #395 "Feature request: Automatic override requesting"
This is definitely in the category of "nice to have for the future", but it would make lives super nice.

Sometimes folks need to schedule overrides for their shifts. You're not sure who to ask, and usually you end up sending a message to the team slack channel, but you need to stay on top of finding an override if no one responds. It would be a neat feature of Oncall if you could register an over

[2022-08-23 18:21] jakubvojacek opened #398 "Webhook alert in my user profile"
Hello

as of now, I can choose to be alerted by slack, telegram, phone and sms. I would like to choose a webhook so that I could for example catch the webhook on my api endpoint and do something more cool stuff to wake me up properly:

- set the lights on (or blink) via philips hue api
- turn on the "play sound" mode on apple watch to wake up less aggressively then via phone

This is not a must ha

[2022-08-24 20:16] gilbertobr opened #409 "Schedule being deleted unexpectedly"
When I access the "schedules" at the address
http://localhost:3000/a/grafana-oncall-app/?page=schedules
and make the change in the Assign to team field.

The "Schedule", is deleted from the preview page and the linked "Escalation Chains"

![image](https://user-images.githubusercontent.com/20375245/186514366-31467116-77f7-429e-a846-3ef64604d68a.png)

[2022-08-25 08:42] PhantomPhreak commented on #213
+1
It will allow us to make integrations more flexible. For example, we have our own SMS backend, so it would be nice to trigger a webhook with a variable, containing on-duty username, for sending him an SMS message

[2022-08-25 09:00] raphael-batte commented on #63
Sketch:
![image](https://user-images.githubusercontent.com/102970268/186622227-e496f1de-76fa-46b7-b829-808e88c5a032.png)

![image](https://user-images.githubusercontent.com/102970268/186622367-2311a880-c912-46e5-bc9c-0265afddfeec.png)

[2022-08-25 09:28] Konstantinov-Innokentii commented on #63
@raphael-batte since there are several alerts in the group we should have the show/hide button near each one, right?
<img width="782" alt="Снимок экрана 2022-08-25 в 14 27 27" src="https://user-images.githubusercontent.com/20221722/186628786-4a5aca73-3242-4b99-b3b0-685acd7c53e0.png">

[2022-08-25 10:07] raphael-batte commented on #63
At this case something like this
![image](https://user-images.githubusercontent.com/102970268/186637506-bd8f3640-d183-44e8-aca5-a032742d76fe.png)

[2022-08-25 13:06] vadimkerr commented on #284
Closing this issue since documentation issues should be resolved by https://github.com/grafana/oncall/pull/406.

[2022-08-25 13:06] #284 closed

[2022-08-25 14:57] vadimkerr opened #415 "Can't scroll on integration settings page"
When I open an integration settings page, I can't scroll down. E.g. for `Alert Templates` tab I can't scroll down to the "Save Templates" button. The same goes for the `Hearbeat` tab.
The issue occurs when I'm using Safari, but I can't reproduce it on Chrome.

<img width="998" alt="Screenshot 2022-08-25 at 15 52 16" src="https://user-images.githubusercontent.com/20116910/186698194-095008c0-e875-44

[2022-08-25 16:47] scubbo commented on #86
I'm still a novice with Kubernetes, so apologies if this is a stupid question, but - would that also enable setting a similar variable for the [Helm chart](https://grafana.com/docs/grafana-cloud/oncall/open-source/#production-environment) to make it usable on `arm64`? (I _strongly_ suspect that the answer is "_yes_", but it never hurts to check!). If not - would this be an appropriate place to req

[2022-08-25 19:35] #409 closed

[2022-08-25 21:12] vsmanu opened #416 "External mysqldb with require_secure_transport=ON fails on wait-for-db"
If we use an external mysql db with require_secure_transport=ON , the container  "wait-for-db" fails with the following stack trace, even for well-known CAs.

`  File "/usr/local/lib/python3.9/site-packages/django/db/backends/base/base.py", line 200, in connect
    self.connection = self.get_new_connection(conn_params)
  File "/usr/local/lib/python3.9/site-packages/django/utils/asyncio.py", line 3

[2022-08-26 08:38] raphael-batte commented on #63
more complex view
![image](https://user-images.githubusercontent.com/102970268/186860567-db99e24b-5a42-4b8b-9784-cc26a1195cd2.png)

[2022-08-26 12:12] vadimkerr commented on #283
https://github.com/grafana/oncall/pull/307 is now merged and should allow catching erorrs related to `TELEGRAM_WEBHOOK_HOST` easier. Also after merging doc updates in https://github.com/grafana/oncall/pull/406, it should be more clear now how to set up the Telegram integration.
Updating to the newest version of OnCall should resolve the issue, so I’m closing it.
@Gufderald feel free to reopen it a

[2022-08-26 12:12] #283 closed

[2022-08-26 18:23] melikesozeri opened #419 "Feature Request: Slack Send Alert via Direct Message"
In Slack integration, it works with message in channel but not in direct message. It only posted alerts in channel, mentioned users in a thread but could not notify users in direct message.
We want to send alert message via direct message with Slack app. It would be great if DM is supported.

[2022-08-26 18:30] melikesozeri commented on #419
:label feauturerequest

[2022-08-27 20:42] ksa-real commented on #342
Is there an easy way to manually unlink, e.g. by manipulating the DB? I accidentally linked my Slack account to admin user instead of OAuth one.

[2022-08-29 05:17] PhantomPhreak opened #420 "Grafana integration heartbeats cause false-positive alarms"
Current heartbeat configuration is following for the Oncall:
1) Create a dashboard in grafana, add some metric and create an alert, constantly staying in the "Firing" state
2) Create a contact point in Grafana with a specific `/heartbeat` webhook for the each integration in the Oncall
3) Create an alert rule for the metric from step1 to the contact point, created on step2

As i understand, heartbe

[2022-08-30 08:44] benjaminclauss commented on #339
I apologize for the delay. I updated the issue description. LMK if I can provide any more information.

[2022-08-30 11:59] raphael-batte commented on #380
possible directions:
1. more clear visual
2. more clear messages/errors
3. option to see settings page by new button.

<img width="824" alt="image" src="https://user-images.githubusercontent.com/102970268/187431098-bb5249f2-0dda-4df2-a30d-0578ab3ab448.png">

[2022-08-30 13:57] #342 closed

[2022-08-30 15:02] raphael-batte commented on #380
Hypothesis. What if we move "remove@ button inside configuration?

![image](https://user-images.githubusercontent.com/102970268/187471868-611def41-f37f-42a5-a6fd-0a07e90ffbb2.png)

[2022-08-31 10:10] ksa-real commented on #380
IMO both would work. The comments address some of my initial pain points. I didn't initially understand what talks to what.
There is Grafana Oncall Backend, Grafana Oncall Plugin and Grafana itself. There are backend URL and Grafana URL.
- It was clear that the backend URL is used for Grafana OnCall plugin to access it, but somewhat unclear can it be also used by anything else, like browser or Gra

[2022-08-31 11:21] vadimkerr commented on #86
arm64 image has been added to DockerHub and is available starting from version `v1.0.29`.

<img width="1283" alt="Screenshot 2022-08-31 at 12 08 50" src="https://user-images.githubusercontent.com/20116910/187666358-e2711da0-370e-492d-9b3b-4c5072856e84.png">

@iskhakov I think we don't need any additional env variables since platform selection is handled by docker, so building & pusing an image on

[2022-08-31 11:21] #86 closed

[2022-08-31 11:47] vptimmy opened #445 "Helm - SecurityContext - cannot setgid() as non-root user"
We are trying to install a test instance of onCall via the helm chart to our K8 cluster.   We do not allow our container to run as root.

We are getting the following error from grafana-oncall-engine when trying to deploy the chart:

[code]

Here is the helm/values.yaml I have been trying to deploy with.  Any suggestions are greatly appreciated!

[code]

[2022-09-01 07:42] Matvey-Kuk commented on #96
We will discuss Mattermost integration on the next community call: https://github.com/grafana/oncall/discussions/451

[2022-09-01 08:42] Matvey-Kuk commented on #239
Reproduced, reopening.

[2022-09-01 09:06] Matvey-Kuk opened #452 "One-time installation key UI/UX"
Proposal:
1) Get rid of one-time installation token. Make backend to allow registering the first frontend only.
2) We still need URLS for "Frontend -> OnCall Backend" and "OnCall Backend -> Grafana. Make sure we provide proper error messages and explanation what is where.
3) Draw schematic image of network connectivity and put it right on the configuration page. To clear up what URL's do we ask fo

[2022-09-01 11:55] raphael-batte opened #457 "ChatOps setup UI unification"
Proposal:
1. Create unified wizard-styled UI for chatops setup. Right now every chatops Ui looks different.
2. Polish sharp angles in userflows

[2022-09-01 12:02] iskhakov opened #458 "Remove "v" from Grafana OnCall versions for more consistency with the rest of grafana products"
Otherwise it leads to following output
[code]

[2022-09-01 18:01] manolooon opened #468 "connect oncall to grafana doesn´t work.it shows 403 error."
Hi all!!

I can`t connect oncall in grafana.
Follow all steps, but insert token , oncall engine url  and grafana url in their texts box :
[https://snipboard.io/amcAK4.jpg](url)

it shows 403 error.

[https://snipboard.io/dm8Is6.jpg](url)

¿ can somebody help me ?

[2022-09-02 08:58] raphael-batte commented on #468
added screens from links to context
![image](https://user-images.githubusercontent.com/102970268/188103715-e08fdb49-344e-4b16-a3f4-1c291342a4cd.png)

![image](https://user-images.githubusercontent.com/102970268/188103800-f7660eaf-3849-4e84-bc54-cb114b3ad896.png)

[2022-09-02 08:59] raphael-batte commented on #452
One more case with same problem https://github.com/grafana/oncall/issues/468

[2022-09-02 12:54] #63 closed

[2022-09-02 15:23] gilbertobr opened #471 "Automatic incident normalization does not work."
I have an integration with Zabbix, which notifies normally, but when zabbix sends an OK status.
Does not work.

Below is my scenario.

PAYLOAD PROBLEM:
[code]

PAYLOAD RESOLVED:
[code]

Script:
https://grafana.com/docs/oncall/latest/integrations/available-integrations/add-zabbix/#grafana_oncallsh-script

Config Integration
![image](https://user-images.githubusercontent.com/20375245/188180973-e57ca

[2022-09-02 15:36] vadimkerr opened #472 "Add wrong team error for all team-specific resources"
Currently there's only one page ("Alert Groups") that is capable of showing a human readable error when user tries to access a resource from a different team:

<img width="482" alt="Screenshot 2022-08-04 at 16 28 23" src="https://user-images.githubusercontent.com/20116910/182886919-639e0fd7-9753-476c-bf66-1c924f159ccc.png">

There are other resources that can benefit from this as well, e.g. integr

[2022-09-05 08:32] raphael-batte opened #476 "Add blue color to all links inside warning and info panels"
![image](https://user-images.githubusercontent.com/102970268/188405030-a19de2e8-d5f0-412b-a4a2-99b316f2beba.png)

[2022-09-05 08:42] Matvey-Kuk commented on #472
For example: for "escalation chain".

![Image](https://user-images.githubusercontent.com/3284841/188407134-15e961bb-3658-481c-a23c-57b604f9148f.png)

[2022-09-05 08:50] Matvey-Kuk commented on #389
Not sure if it will be easy to add "Updated" column, but we def need to add sorting for "Created"

[2022-09-05 08:53] jakubvojacek commented on #389
not sure how its handled internally but just add a datetime column into the alert table and everytime you add a new groupped alert update the datetime column? It sure would be interesting for us to see which of the silence issues could be unsilenced based on the last updated time

[2022-09-05 10:16] raphael-batte opened #478 "Rename Source column an Alert list to Integrations"
![image](https://user-images.githubusercontent.com/102970268/188426074-2fd39f8a-f67d-4c69-8d30-c4c16f392589.png)

[2022-09-05 12:22] jeschkies commented on #161
It's working :tada:

[2022-09-05 12:22] #161 closed

[2022-09-05 12:23] jeschkies opened #482 "Going back from indicent removes previous filter."
Sya I have an integration filter `Integration: Loki-Prod` and I click on an incident. When I then click the left arrow next to the title the integration filter is gone.

[2022-09-05 12:32] Matvey-Kuk commented on #482
@jeschkies thank you for the report!

[2022-09-05 12:33] Matvey-Kuk commented on #478
For the context: added based on customer's confusion. It was not obvious because we call the same field differently in filters and in the columns.

[2022-09-05 12:35] Matvey-Kuk commented on #472
How to reproduce:
- Open any specific object (Escalation chain, Maintenance,  Schedule...)
- Copy url link in the browser
- Switch team
- Past the link to the browser
- You'll see error message

[2022-09-05 12:53] raphael-batte commented on #472
Probably we can use here the same UI as we have at Alerts. We just need to change descriptions

[2022-09-05 13:34] Matvey-Kuk commented on #471
Hey 👋 Your "Grouping ID" is "{{ Payload }}" which means that each alert with different payload will be grouped to different Alert Group. Sounds like that's exactly what happens. I suggest trying "Grouping ID" = "{{ payload.title }}"

[2022-09-05 13:36] Matvey-Kuk commented on #468
Hi @manolooon! Two things could help:
1) Restarting Grafana
2) Issuing new "Invite token"

[2022-09-05 13:39] Matvey-Kuk commented on #457
@raphael-batte "Polish sharp angles in userflows" sounds pretty wide. Do you mind making specific proposal?

[2022-09-05 13:43] Matvey-Kuk commented on #420
@PhantomPhreak thank you for such a great feedback! Polishing connection between Grafana and OnCall is in our focus, we'll take your proposal into account at the next design discussion. It sounds reasonable for me.

Спасибо!

[2022-09-05 13:44] Matvey-Kuk commented on #391
Hi! It's possible via API: https://grafana.com/docs/oncall/latest/oncall-api-reference/alertgroups/#delete-alert-groups

I think it's a valuable feature. Probably worth thinking about it after we make access management more adjustable.

[2022-09-05 13:47] raphael-batte commented on #457
@Matvey-Kuk still collecting details. will share update here as UI-sketches with proposals

[2022-09-05 13:50] Matvey-Kuk commented on #395
That's a great idea!

[2022-09-05 13:50] vadimkerr commented on #388
This is indeed a bug that was introduced earlier when working on alert group API optimization. I'm currently working on returning the alert group search functionality.

[2022-09-05 14:58] vadimkerr commented on #377
The issue is that in some cases Pagerduty return an empty vendor for an integration - in this case we can't really do anything other than signaling that the integration cannot be created.

[2022-09-05 14:59] #377 closed

[2022-09-05 15:18] vadimkerr commented on #387
Thank you for opening the issue! After taking a look on this, I discovered that the script deletes a Grafana OnCall integration with the same title before migration, please see: https://github.com/grafana/oncall/blob/dev/tools/pagerduty-migrator/migrator/resources/integrations.py#L43.
I couldn't reproduce this as well, so I'm closing the issue.

[2022-09-05 15:18] #387 closed

[2022-09-05 15:25] #378 closed

[2022-09-05 15:42] jakubvojacek commented on #388
Thanks a lot for the confirmation :+1:

[2022-09-06 14:05] gilbertobr commented on #471
Thanks @Matvey-Kuk  for the guidance.
More based by title, it didn't work out very well.
But I changed it to `{{payload.alert_uid}}`,  worked.

[2022-09-06 14:05] #471 closed

[2022-09-06 14:51] raphael-batte commented on #457
MS Teams setup scenarios:

**There is no bot yet**
1. the user activates it and connects the DM
2. the user activates it and connects the type-workspace

**There is a bot** and one of the users connected it, or set up a team workspace.
In this case, we show
3. simplified dialogue for team workspace
4. simplified setup for the user

[2022-09-06 14:59] gilbertobr opened #495 "After the update, I am not able to normalize alerts"
After the Grafana Oncall update, I've been trying to resolve the alerts via the web.
But it returns this empty error

![image](https://user-images.githubusercontent.com/20375245/188667576-cae8843d-4398-4cd1-bb23-0b64e5883b41.png)

docker logging (oncall-engine-1)
![image](https://user-images.githubusercontent.com/20375245/188667798-e7de2d9a-3e05-42ce-85ee-960780f71df7.png)

docker logging (oncall-

[2022-09-06 15:16] vadimkerr commented on #495
Thank you for opening the issue! This is indeed a bug, and I managed to reproduce it when "Require resolution note when resolve incident" settting is enabled.

<img width="1231" alt="Screenshot 2022-09-06 at 16 12 54" src="https://user-images.githubusercontent.com/20116910/188671776-16cb0bcd-22c5-4379-a845-519ceaa80be5.png">

Until it's properly fixed, as a quick solution to your problem, please t

[2022-09-06 15:19] gilbertobr commented on #495
@vadimkerrhelp yes,  thank you

[2022-09-06 21:31] #140 closed

[2022-09-06 21:34] #167 closed

[2022-09-06 22:10] scubbo commented on #86
Hmm, still no luck. I followed the instructions for a [hobby setup](https://github.com/grafana/oncall#getting-started), which resulted in unhealthy containers for `celery`, `oncall_db_migration`, and `engine` - that is, all the containers that use the `grafana/oncall` image. `docker logs` shows repeated `standard_init_linux.go:219: exec user process caused: exec format error`, which I've found is

[2022-09-07 02:48] qubitspace commented on #187
We had another developer encounter this and post some feedback, adding it to try to get some traction here. It is a bigger issue that it might appear on the surface as slack is such as important tool for for developers, and losing your thread history because of a bunch of alerts is very frustering.
![image](https://user-images.githubusercontent.com/77802/188777477-31462912-db9e-4c1c-979c-ef461b3ed

[2022-09-07 08:27] Matvey-Kuk opened #498 "Proper alert about UI downtime during updates"
Most of OnCall updates cause UI downtime because of a data migration. For now users see this during update:

![image](https://user-images.githubusercontent.com/3284841/188826736-1999c6cf-5cf5-4479-904e-e0f5d1087425.png)

... which is pretty confusing. I think it's a right moment to think about some proper error message during update which will set up expectations. What we need to say:
1) We're sor

[2022-09-07 09:22] Ukochka opened #500 "User can not be chosen in Incident filters if it is not in first 100 results from backend"
When I try to filter Alert Groups I am choosing Acknowledged By (or Resolved By, does not matter) filter and I see the list of users, but if I click on User which is not in the first 100 I will not see it appears in the filter

[2022-09-07 09:48] Matvey-Kuk commented on #167
@mderynck 🎉

[2022-09-07 09:58] Matvey-Kuk commented on #317
@maskin25 what do you think, should we change that?

[2022-09-07 11:35] vadimkerr commented on #495
This should be fixed now as of v1.0.35, returning a proper error message in this cases.

<img width="605" alt="Screenshot 2022-09-07 at 10 43 31" src="https://user-images.githubusercontent.com/20116910/188868569-954e5775-c9c5-418b-bce5-09d617ccba61.png">

Closing the issue, @gilbertobr thank you for raising this!

[2022-09-07 11:35] #495 closed

[2022-09-07 11:39] vadimkerr commented on #388
This should be fixed now as of v1.0.35, please upgrade to the latest version of Grafana OnCall and try filtering by title.
Closing the issue, @jakubvojacek thank you for raising this!

[2022-09-07 11:39] #388 closed

[2022-09-07 12:52] jeschkies opened #504 "Update the incident label without reloading the page."
In order to avoid confusion it would be nice if the incident label could automatically update to `Acknowledged` or `Resolved` without reloading the incident's page. This would be similar to GitHub pull requests that change the label to `Merged`.

[2022-09-07 17:15] csmarchbanks opened #505 "Resolution Note Link Detection"
It would be nice if links pasted or posted to a resolution note would be clickable in the UI and Slack rather than being required to copy and paste the link. For example, a link to a pull request that solved the issue.

Markdown support would be even better, but I imagine that could be complex and potentially unsafe?

[2022-09-08 03:03] lstama opened #508 "Grafana API Token is recreated each time OnCall page is being opened."
Hello, I have a problem which make user without admin privilege can't access Grafana OnCall.

When I (as an organization admin) open OnCall page for the first time (or when doing a reload), I always greeted by this error page.
![retry](https://user-images.githubusercontent.com/20131054/189021809-c60bb5ef-c8d3-4f5c-8db6-62ad2dc6107f.png)

And when I click the retry button, this happened.
![as-admin

[2022-09-08 11:34] th30nlyw4y commented on #508
This looks just like it was for me. Looks just like https://github.com/grafana/oncall/issues/316. I've reinstalled oncall deployment and now it's performing fine

[2022-09-08 21:36] th30nlyw4y commented on #239
Looks like https://github.com/grafana/oncall/pull/240 didn't help (at least for me), RabbitMQ takes about ~1 minute to start, so i've changed config to :
[code]
As for the existing problem, i see this logs in `oncall_db_migration` container:
[code]
And in RabbitMQ container:
[code]
But credentials are the same. RabbitMQ:
[code]
Migration container's env:
[code]
Maybe i'm missing some configuration

[2022-09-09 08:00] lstama commented on #508
What do you mean by reinstalling oncall deployment? Is it the Engine and Celery part, or everything including MariaDB, Redis, and RabbitMQ (using a newly fresh DB)?

[2022-09-09 13:15] th30nlyw4y commented on #508
I meant re-deploying oncall helm chart (i have redis, mariadb, rabbitmq, celery and engine enabled for deployment). Also i think that it's better to delete PVC's (you should do it manually, as it's stated in docs), because sometimes plugin init fails

[2022-09-09 13:34] th30nlyw4y opened #518 "[Helm] Env vars are not merged"
Hello!
I've faced the problem with merging env vars, since they're defined and rendered as a list and helm doesn't support lists merge (and most likely will never support https://github.com/helm/helm/issues/3486).

E.g. in following config:
### values.yaml
[code]
### secret.values.yaml
[code]
After deploying using `helm upgrade -i --namespace "${NAMESPACE}" "${RELEASE}" -f values.yaml -f secret.va

[2022-09-12 03:50] tommysitehost commented on #371
This feature would be great. Would be good to be able to specify which alerts can trigger the webhook (e.g. alerts that have a specific label can trigger a webhook).

[2022-09-12 05:58] lstama commented on #508
Thanks, reinstalling works.

But now all my integrations and settings are wiped out. As I don't know which DB table is safe to backup and restore.

[2022-09-12 06:09] th30nlyw4y commented on #508
Yep, that's quite inconvenient. Hope this behavior would be fixed soon

[2022-09-12 07:55] #336 closed

[2022-09-12 09:58] kmlebedev commented on #468
Hi @Matvey-Kuk I have a similar problem, can I give a little more details:
[code]

[2022-09-12 11:50] Matvey-Kuk commented on #518
@iskhakov could you please check this one?

[2022-09-12 11:51] th30nlyw4y commented on #518
I may prepare PR as well :)

[2022-09-12 16:07] kmlebedev commented on #468
Strangely works locally

[code]

[2022-09-12 18:10] mderynck opened #524 "Users downgrading permissions not considered part of schedule"
If a user is referenced by a schedule and their role gets set back to viewer they are no longer considered for notification as part of the schedule and the schedule will have a gap.  What can be done in this case to make sure notifications are not missed if the schedule is not updated or the permission corrected immediately?

[2022-09-12 18:12] raphael-batte opened #525 "Calendar UI: live-testing bugs 12-09-2022"
- [ ] 1. Make rotation start <-> shift start linked by default.
- [ ] If we change rotation start date, shifts start time changes automatically. In user wants to customize shift start time, he should corrects it in this field manually.
- [ ] 2. Mark fields with errors by red color focus (with error messages)
- [ ] 3. Add days of the week to the timeline  –> Mon 12 Sep
- [ ] 4. Add warnings about g

[2022-09-12 19:21] mderynck commented on #468
This is referring to the environment variable MIRAGE_CIPHER_IV, its length should be 16 rather than 4,

In local dev environment it is using a default value for this in the engine/settings/dev.py so likely why it isn't being hit there.

[2022-09-13 06:10] anthonypruiz opened #527 "Trigger Webhook on "Acknowledgement" And "Resolved""
I’d like to be able to trigger a webhook when an alert is acknowledged and or when it’s resolved.

Even better as a bonus would be to have an acknowledge chain and or a resolution chain.

Ideally I’d like to have a system where all the many siloed places where we communicate issues could be updated anywhere. So If we acknowledge or resolve an issue in Slack or Telegram or Zendesk or Catalyst or On

[2022-09-13 09:29] kmlebedev commented on #468
Thanks.  After I set the variables MIRAGE_SECRET_KEY and MIRAGE_CIPHER_IV it turned out to connect

[2022-09-13 09:29] kmlebedev commented on #468
@manolooon Try set envs MIRAGE_SECRET_KEY and MIRAGE_CIPHER_IV

[2022-09-14 20:01] ethanmdavidson commented on #398
Webhook alerts would also make integration with [pushover](https://pushover.net/) possible, which is a use case I'm very interested in.

[2022-09-15 07:06] wounkun opened #530 "self-signed certificates on telegram webhook environment"
I got an issue when i tried to connect my webhost to telegram server by webhook - oncall don't have an option with including self-signed certificates to telegram server. Currently it's so hard manipulation with telegram webhook host i need use proxies like cloudflare which certificates telegram knows, i can't connect my private (oncall-)server with personal self-signed certificates.

https://core.

[2022-09-15 08:47] Matvey-Kuk commented on #518
@th30nlyw4y it would be nice!

[2022-09-15 09:04] Matvey-Kuk commented on #524
@mderynck for me sounds like a bug. May be let's allow "Viewer" to be on-call in the schedule?

[2022-09-15 13:20] Matvey-Kuk opened #531 "Re-design of "New rotation popup"."
<img width="436" alt="Screenshot 2022-09-15 at 16 19 42" src="https://user-images.githubusercontent.com/3284841/190414237-14fbc370-aa6d-48b2-a801-3152345d170b.png">

Currently we such a problem:
Users see 4 time pickers: Rota Start/End, Shift Start/End. They don't understand what is it about.

[2022-09-15 13:25] Matvey-Kuk opened #532 "Web-based calendar polishing collection for v1"
Logical blocks:
https://github.com/grafana/oncall/issues/531

[2022-09-15 13:29] #525 closed

[2022-09-15 13:29] Matvey-Kuk commented on #532
@raphael-batte 's comments from #525:

- [ ]  1. Make rotation start <-> shift start linked by default.
- [ ]  If we change rotation start date, shifts start time changes automatically. In user wants to customize shift start time, he should corrects it in this field manually.
- [ ]  2. Mark fields with errors by red color focus (with error messages)
- [ ]  3. Add days of the week to the timeline –

[2022-09-16 09:57] amezioud commented on #527
We are interested too !

Duplicate issue there => https://github.com/grafana/oncall/issues/264

[2022-09-16 10:01] libracoder opened #534 "oncall engine crashes when elasticache is used as redis provider"
I am currently working to deploy ocall using  our existing grafana setup using elasticache.
But when i use the redis included in the charts everything works fine.
When i use the elasticache, the oncall-engine pods keeps crashing.

Here is my logs and screenshotshots below

_

_

![image](https://user-images.githubusercontent.com/32944039/190613159-043645d9-719f-445d-a152-e0478f3a89aa.png)

[2022-09-16 11:23] raphael-batte commented on #525
- [ ] Wrong local time right top corner
- [ ] Lag on click existing rotation before popup appear
- [ ] Sector over users
- [ ] User tooltip should appear under avatar
- [ ] Remove back button hover circle and alight it to main vertical axe.
- [ ] Blocks color -bg-secondary, hover -overlay
- [ ] Merge final schedule to as less rows as possible
- [ ] Export to google calendar
- [ ] Add working hours

[2022-09-16 14:22] raphael-batte commented on #532
- [ ] Wrong local time right top corner
- [ ] Lag on click existing rotation before popup appear
- [ ] Sector over users
- [ ] User tooltip should appear under avatar
- [ ] Remove back button hover circle and alight it to main vertical axe.
- [ ] Blocks color -bg-secondary, hover -overlay
- [ ] Merge final schedule to as less rows as possible
- [ ] Export to google calendar
- [ ] Add working hours

[2022-09-16 14:25] raphael-batte commented on #532
- [ ] Lock 'Save' button if user doesnt have users in schedule

[2022-09-16 14:25] vadimkerr commented on #525
- [ ] Add ability to specify by_day for events of every frequency (hourly, daily, weekly, etc.)
- [ ] (Backend) Bug with 0 length shift if rotation end is set
- [ ] (Frontend) Remove ability to click “Create” if no users are added
- [ ] (Backend?/Frotntend?) Make rotation start depend on shift end (disable rotation start input by default)?

[2022-09-19 07:38] Timmypedia commented on #534
hey, we ran into an similar issue last week. AWS doesn't like the unsecure Redis Protocol and you can't use the secure protocol for a reason.
i made a Pull Request to fix that. It Could fix your issue too i guess. But I'm clearly not sure...
#538

Greets

[2022-09-19 16:29] dimitarvdimitrov opened #539 "Add link to slack to alert_groups HTTP API response"
The UI for oncall exposes a handy button called "View in Slack" when looking at an alert group. I wanted to use this slack link in script I was writing.

Unfortunately, it's not exposed in the documented `GET /api/v1/alert_groups/` endpoint. The UI gets it by making a request to Grafana at `GET /oncall/api/internal/v1/alertgroups`, which I assume gets mapped to `GET api/internal/v1/alertgroups`.

[2022-09-20 13:35] dyvol777 opened #542 "Alertmanager integration"
Groping and resolving issues
My version: 1.0.35 (plugin and backend)

Behavior and how to reproduce:
1. Create new alertmanager integration.
2. send `curl -XPOST http://oncall-engine:8080/integrations/v1/alertmanager/xxx/ -H "Content-Type: application/json" -d @alert.txt` (json file with 3 firing [alert.txt](https://github.com/grafana/oncall/files/9608052/alert.txt))
3. Oncall create 3 firing aler

[2022-09-22 09:59] joeyorlando opened #549 "Add telegram permalink to alert_groups HTTP API response"

[2022-09-22 13:17] #539 closed

[2022-09-23 06:40] libracoder commented on #534
Thank for the feedback, I'll wait for your PR to get merged

[2022-09-23 09:43] chalut01 opened #556 "How to manual upgrade from v1.0.29 to v1.0.30 or latest version."
Hi,
This environment is setup from kubernetes manifest (without hekm). Do you have any suggestions?.
![Screen Shot 2565-09-23 at 16 35 59](https://user-images.githubusercontent.com/22786179/191933942-db7b8068-0294-49d0-8c00-60ad948ef619.png)

[2022-09-23 10:16] chalut01 commented on #556
Run in engine
[code]

[2022-09-23 10:16] #556 closed

[2022-09-23 14:03] Matvey-Kuk commented on #232
Closing, since the feature is merged.

[2022-09-23 14:03] #232 closed

[2022-09-23 14:03] #135 closed

[2022-09-23 14:05] Matvey-Kuk commented on #380
@raphael-batte I think this exact issue is more about error message content and could be fixed fast without redesign.

[2022-09-23 14:22] Matvey-Kuk commented on #347
Moved to core team's backlog.

[2022-09-24 09:43] clain23 opened #558 "Continue escalation if current *day of week* is in range"
Currently it is possible to set time interval to pause eacalation outside working hours.

It would be great to be able to pause escalation for the weekends.

[2022-09-24 10:56] Matvey-Kuk opened #559 "👋 How do you use OnCall?"
Hey there!

We are very-very curious:

- What's your company?
- Do you use OnCall in production? Piloting? Just playing around? Comparing with other tools?
- What do your teammates think about OnCall?
- What are your plans for OnCall in your org?

[2022-09-26 07:23] Raja-Kadali-FW opened #560 "grouping of alerts fails"
Hi,
Alert grouping fails for different payloads even though grouping id is given.

the following are two paylods for my formatted webhook integration:
payload:1
{
    "state": "firing",
    "title": "Test9",
    "host": "xyz",
    "level":"webhook-success",
    "message": "webhook-success",
    "databaseid": "db-1",
    "database name": "db1",
    "database endpoint":"host1:!234",
    "Account":"f

[2022-09-26 07:39] wounkun opened #561 "telegram polling protocol environment"
As I noticed before about private server where running Grafana OnCall need use ChatOps/Alert notifications through webhook with self-signed certificate (https://github.com/grafana/oncall/issues/530), but what about polling protocol?

I think if we get telegram connections through polling protocol it will be more useful _than we trying connect by webhook from private servers_. In results there's no

[2022-09-26 08:35] dimitarvdimitrov commented on #539
that was quick 🙌 thanks!

[2022-09-26 09:57] maxime-sourdin opened #562 "Non-functional deployment with helm chart"
Hello,
I tried to deploy Oncall with helm chart (on a managed Kubernetes cluster, via ArgoCD), using the built-in Mysql.

I am seeing problems as the database migration jobs are not going through:

`amqp.exceptions.AccessRefused: (0, 0): (403) ACCESS_REFUSED - Login was refused using authentication mechanism PLAIN. For details see the broker logfile.`

When I did the tests based on the provided do

[2022-09-26 11:45] Matvey-Kuk commented on #504
Related to #297

[2022-09-27 07:25] mingaliev-e commented on #153
how to connect self-signed certificate ?

[2022-09-27 07:29] mingaliev-e opened #564 "how to connect self-signed ssl certificate ?"
not connecting via https://grafana:3000
We have a self-signed certificate, how can we transfer it to the docker container to fix the connection error?

[2022-09-27 07:30] mingaliev-e commented on #380
how to connect self-signed certificate ?

[2022-09-27 10:56] xom4ek commented on #96
[code]

Example json for send `webhook` notification to mattermost:
![telegram-cloud-photo-size-2-5303354681877183648-y](https://user-images.githubusercontent.com/29627495/192507681-b8862373-e1cc-4e22-b32b-ddaf9adf791c.jpg)

[2022-09-27 13:22] Matvey-Kuk commented on #562
Hi! AMPQ makes me think it's about network connectivity between RabbitMQ and container performing migration.

[2022-09-27 13:26] Matvey-Kuk commented on #560
Hi! Thank yo for the report!
1. Do you see the result of rendering of the "Grouping ID" template at the right? Is it working as expected?
2. Grouping of "firing" alerts happening only to "open" Alert Groups. "resolve" alerts may be grouped even to "resolved" Alert Groups. Are you sure the first Alert Group still was "open" at the moment you received the second one?

[2022-09-27 13:33] Matvey-Kuk commented on #233
@joeyorlando I think we have all instruments available to to make .deb and snap distributions automated and not to add complexity to current release process. GitHub Actions :)

[2022-09-27 13:39] joeyorlando commented on #233
This is good to know! I'll take a crack at this tomorrow :)

[2022-09-27 14:21] #564 closed

[2022-09-27 15:22] #534 closed

[2022-09-27 15:32] joeyorlando commented on #311
@raphael-batte lmk if this issue is safe to close based on the recently merged PR

[2022-09-27 22:03] chrisharbro opened #569 "Allow users / admins to view teams they are not members of"
As OnCall is currently implemented, users (including admins) can only see teams which they are a member of. In the top-right corner of the OnCall page, the "Select team" filter only allows you to view the teams you are a member or admin of, as well as the "General" option which shows everybody; there is no option for filtering by specific teams that you are not currently a member of.

If a user /

[2022-09-28 09:12] Raja-Kadali-FW commented on #560
Hi Matvey,

Yes, the result of "grouping id" is showing the host value. also, i'm sending the alerts through postman and they are still open, but not getting grouped under same alert group.

[2022-09-28 09:41] kudiyarov opened #570 "Invalid livenessProbe command in oncall chart 1.0.5"
Hello!

I'm using helm chart version 1.0.5 with appVersion  v1.0.35.
celery's pods restart periodically due to invalid "livenessProbe". Error message:
[code]

Looks like since Celery 5.0 livenessProbe command
`celery inspect ping -A engine -d celery@$HOSTNAME`
should be replaced with
`celery -A engine inspect ping -d celery@$HOSTNAME`

Please, update in chart or make livenessProbe configurable via

[2022-09-28 10:09] Matvey-Kuk opened #572 "Integration with Cisco Spark"
OnCall has integration with Slack, Telegram, MS Teams, Mattermost integration should be ready soon (I hope). Please let us know in the comments if you would like to see Cisco Spark integration with OnCall, thank you!

[2022-09-28 13:30] mderynck opened #574 "Slack thread not displaying escalation plan"
While the alert group is unacknowledged and processing escalation steps the slack thread is not being updated and is displaying this:
![Screenshot from 2022-09-28 07-17-17](https://user-images.githubusercontent.com/28077050/192790344-d275eca3-d339-49b6-a971-04669dd6335d.png)

Meanwhile viewing the alert group in the web UI the following actions were taken:
![Screenshot from 2022-09-28 07-18-02](ht

[2022-09-28 14:59] #549 closed

[2022-09-28 15:44] MrBosley opened #575 "Trigger alerts ON/OFF via Email"
Some devices we monitor don't have the ability to communicate with more modern methods.  It would be nice if OnCall could ingest email and trigger based off of that email and relay the information through an alert.

[2022-09-28 22:45] Bruno-DaSilva opened #576 "bug: All day events show as having gaps in slack notifications"
# Description
Multiple all-day events in a row in the calendar are reported as having a gap in slack notifications.

NOTE: I don't know if other parts of OnCall also have issues with all-day events. I'll leave that up to someone else to figure out. We're going to use 12:00am-12:00am events instead just in case there actually _is_ a bugged gap and people aren't going to be routed to properly.

# St

[2022-09-29 10:00] Matvey-Kuk commented on #574
I think there is either a stuck celery task, either a Slack API problems. Could you please try finding logs? They should be helpful

[2022-09-29 12:18] devinrcheevers commented on #576
Thank you, looking into this!

[2022-09-29 16:14] amezioud commented on #213
+1

[2022-09-29 16:35] Bruno-DaSilva commented on #576
Hi @matiasb. I tried a few things, thinking it was caching. I tried both creating events before and after linking it to a schedule.  I get the same notification about the "No one on call next!" (like the above screenshot) whenever any update happens to the calendar, but have not yet received the separate/dedicated notification about gaps in the schedule.

[2022-09-29 18:04] DavidKittleSEL commented on #575
This feature is critical to many of our alerting workflows as well.

[2022-09-29 20:09] sdg4754 opened #580 "query alertgroup api for alert information by alert_group_id"
Route ID and Integration ID can be used to search/filter responses to the Get requests to the AlertGroups API; I would like to do so with the alert_group_id fed out by the Alerts API, to instantly get my alert's status programmatically.  Thank you

[2022-09-30 00:14] sdg4754 opened #581 "Bug: List OnCall Shifts API Endpoint Returns 404"
curl "https://oncall-prod-us-central-0.grafana.net/oncall/api/v1/users/" \
  --request GET \
  --header "Authorization: {redacted}" \
  --header "Content-Type: application/json"

...gives a 404

[2022-09-30 12:49] matiasb commented on #581
Hi,

You mention the oncall shifts endpoint in the title but refer to the users API in the description. In any case, I was just checking both endpoints and they seem to work as expected (also, list endpoints will usually return a payload with empty results instead of a 404).
Let us know if you have any more details to understand your issue.

[2022-09-30 13:59] jnunezgts opened #584 "OnCall installation on Bare-metal"
### Discussed in https://github.com/grafana/oncall/discussions/583

<div type='discussions-op-text'>

<sup>Originally posted by **jnunezgts** September 30, 2022</sup>
Hello all,

There are plans to write a guide to do a installation on bare-metal servers; Many of us already have separate instances running Redis, MySQL, RabitMQ and Grafana (loaded with plugins) and existing production for K8s is al

[2022-09-30 16:16] #576 closed

[2022-09-30 18:47] jnunezgts opened #591 "OnCall cannot talk back to Grafana with SSL"
### Discussed in https://github.com/grafana/oncall/discussions/590

<div type='discussions-op-text'>

<sup>Originally posted by **jnunezgts** September 30, 2022</sup>
Hello,

Does anyone know how to make OnCall work with a Grafana installation that runs with SSL? When you try to setup the plugin you get the following error:

[code]

The URL indeed works well with SSL (port was kept on 3000):

[cod

[2022-09-30 21:05] sdg4754 commented on #581
Hi, thank you – you can close this out.

David G. Schultz
Manager of Workplace Infrastructure
***@***.***
o+1 646-930-4754
tassat.com
CONFIDENTIALITY NOTICE
THE INFORMATION CONTAINED IN THIS COMMUNICATION IS INTENDED FOR THE NAMED RECEIVER ONLY. THE TRANSMISSION MAY CONTAIN PRIVILEGED AND CONFIDENTIAL MATERIAL. IF YOU ARE NOT THE NAMED RECIPIENT, PLEASE BE ADVISED THAT ANY USE, DISSEMINATION OR UN

[2022-09-30 23:48] mderynck opened #593 "Unable to create new schedule"
![image](https://user-images.githubusercontent.com/28077050/193369985-9a9a85cb-d21e-4ceb-81e0-d0114af136ad.png)

This seems to be an issue in the plugin as switching to 1.0.37 from 1.0.38 restored the correct behavior.
Also note the issue does not occur on instances with the feature flag enabled for the new schedules.

[2022-10-01 03:08] scubbo opened #594 "DNS resolution for Outgoing Webhooks is inconsistent for local vs. public DNS servers"
Webhook calls fail when the webhook has a URL which uses a domain name that is resolved via either a) Kubernetes' [DNS-for-services](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/), or b) a LAN's DNS server (i.e. not a DNS server on the public internet). This is despite the fact that `wget` and `nslookup` calls from the Oncall Engine pod to both local types of DNS name (K

[2022-10-01 23:23] toro-ponz opened #596 ""Format Alert" button on Slack not working."
## Summary

An 500 Error occur when clicking "Format Alert" button in slack message.

<img width="718" alt="image" src="https://user-images.githubusercontent.com/20720712/193418263-1c21e933-daf1-4395-b4fb-259fdc622746.png">

## Details

Version: v1.0.38
Exception: `AttributeError: type object 'AlertReceiveChannel' has no attribute 'INTEGRATION_AMAZON_SNS'` at [here](https://github.com/grafana/onca

[2022-10-03 01:59] tommysitehost opened #597 "Customizable columns at the incidents page"
Hey there,

It would be good to be able to customise the incidents page so I can add/remove columns, change the color of the alert status by its severity etc so that the oncall person can easily/quickly differentiate the severity of the alerts at the first glance.

[2022-10-03 07:57] logicall opened #598 "Multiple grafana organizations in one oncall installation"
Hello!

Please tell me if this is possible (I did not manage to do it myself)
There is an installation of grafana and oncall. Grafana has 2 organizations. The first organization is integrated with oncall. How can I integrate the second organization there? The plugin is installed in grafana. If I enter a new invite code in the second organization, then the integration in the first is lost. Is it ge

[2022-10-03 07:59] logicall commented on #598
I need this to sync teams and users. And they did not intersect in one oncall installation

[2022-10-03 10:14] joeyorlando commented on #311
Closing as this was implemented in #563

[2022-10-03 10:14] #311 closed

[2022-10-03 10:40] #472 closed

[2022-10-03 14:36] teodosii commented on #593
Fixed and merged to `dev`

[2022-10-03 14:36] #593 closed

[2022-10-03 21:26] scubbo opened #607 "Update docker-compose and helm to use MySQL 8.x.x"
Not just because "[new is always better](https://img.memegenerator.net/images/5863801.jpg)", but because this would be a step towards smoother [arm64 support](https://github.com/grafana/oncall/pull/513).

[2022-10-04 07:18] raphael-batte commented on #532
- [ ] Implement schedule additional settings to frontend
- [ ] allow scrolling when overlay is opened
- [ ] allow closing all popup-overlays by Esc key

[2022-10-04 07:24] raphael-batte commented on #532
Schedules list:
- [ ] hide connections icon when schedule unused in escalations
- [ ] add schedule type column (web/ical/api)
- [ ] add slack channel column

[2022-10-04 08:18] juris commented on #445
The issue still persists with chart version 1.0.5 and app version 1.0.35. I've just uncommented the default helm values:
[code]

[2022-10-04 09:05] #596 closed

[2022-10-04 12:12] #581 closed

[2022-10-04 12:24] th30nlyw4y commented on #518
I'm sorry, been busy last weeks. Going to prepare some fix in a near future

[2022-10-04 13:59] vadimkerr commented on #598
Hello 👋
This is not possible at the moment, as stated in the Grafana OnCall OSS docs: https://grafana.com/docs/oncall/latest/open-source/#production-environment

[2022-10-04 15:26] #147 closed

[2022-10-04 19:37] mderynck commented on #560
I had this condition recreated but for some reason now it is working as expected.  Going to need to collect more examples.
@Raja-Kadali-FW Does the grouping work as expected for other integrations?

[2022-10-04 21:32] alyssawada opened #612 "Docs file restructure"
Restructure the OnCall doc files to align with the documentation teams information architecture best practice and the website repos publishing pipeline. This restructure will also align the OnCall docs with the Incident docs for consistency.

The new structure organizes all docs into directories. For example:
- Top-level directory --> Grafana OnCall (_index.md)
        - Parent directory --> Conne

[2022-10-04 21:50] alyssawada opened #614 "Review and update existing OnCall docs"
Some of the existing content in the OnCall documentation wasn't scoped for the OSS launch in June. To improve the OnCall doc set as a whole, all docs should be reviewed for:

1. Accuracy - Does it still reflect the current product and UI? Are the configs correct?
2. Missing features - Are there are new OnCall features not captured in the docs?
3. Supports the user - Do the docs help the user, prov

[2022-10-04 22:32] tuxmartin opened #615 "Make integration and notifications via Rocket.Chat"
Please add [Rocket.Chat](https://www.rocket.chat/) support.

[2022-10-05 03:02] #343 closed

[2022-10-05 06:42] logicall commented on #598
Hello! Thanks for the answer.
Missed this when reading the documentation.
Then I have another question - is it enough for me to raise the engine and celery for another organization? Do I need to add another vhost to rabbitmq, and another base for redis?

Thank you!

[2022-10-05 07:32] Raja-Kadali-FW commented on #560
Hi @mderynck , For some reason, grouping is working fine now. I've checked with other integrations, they are working as expected.

[2022-10-05 10:02] njohnstone2 opened #618 "Slack Integration - Ability to retain values after resolved event"
Grafana version: 9.1.1
Grafana On Call version: v1.0.22

Currently On Call messages sent to slack are updated as the state of the alert changes. This means a user needs to go into the Grafana On Call Web UI to investigate what values caused the alert to fire if the alert has already cleared.

In the following screenshot the value is populated while the alert is firing but dropped when the resolved

[2022-10-05 12:54] mderynck commented on #560
@Raja-Kadali-FW I think I understand what happened:
If the grouping template changes it does not effect already open alert groups since the grouping id was set we don't want to re-process alerts that potentially become un-grouped. So if like me you sent an alert noticed you wanted a different grouping and then sent another it will not group with already existing groups even if logically it should.

[2022-10-06 04:06] #570 closed

[2022-10-06 04:26] iskhakov commented on #562
Such a message tells that all the migrations are already applied

[2022-10-06 07:50] iskhakov commented on #452
https://github.com/grafana/oncall/issues/122

[2022-10-06 07:57] maxime-sourdin commented on #562
Hello @iskhakov ,
so the problem is not migration, I'll change the title of the issue then

I don't have any other issue except the migration one (so that's not one), but the oncall-engine pod keeps restarting

I also just noticed this error:
  2022-10-06 07:54:44 lock engine: pthread robust mutexes
  2022-10-06 07:54:44 thunder lock: disabled (you can enable it with --thunder-lock)
  2022-10-06 0

[2022-10-06 13:57] teodosii commented on #504
Fixed by [PR 579](https://github.com/grafana/oncall/pull/579)

[2022-10-06 13:57] #504 closed

[2022-10-06 13:57] teodosii commented on #297
Fixed by [PR 579](https://github.com/grafana/oncall/pull/579)

[2022-10-06 13:57] #297 closed

[2022-10-06 19:37] Gufderald opened #622 "Plugins/Grafana OnCall configuration page endless loading with 502 error"
Hi!

Faced with next issue while trying to configure OnCall plugin:
![image](https://user-images.githubusercontent.com/75615922/194401739-fa579b54-2953-4054-87f0-c6454fd3d2f9.png)

I can see next errors in Grafana logs:
[code]

Running hobby environment from docker-compose.yml. Tried Grafana images v8.5.3, v9.0.0-beta3, v9.1.7, with different values for DOMAIN(http and https), with different docke

[2022-10-06 21:22] altokarev commented on #213
+1

[2022-10-07 07:08] vadimkerr commented on #622
Thank you for the bug report!
This issue should be fixed by [this commit](https://github.com/grafana/oncall/commit/a96f7315d46c4f883500e8d5bd3990115bfbe753) and released in version [v1.0.40](https://github.com/grafana/oncall/releases/tag/v1.0.40), so please try [updating to the latest version](https://github.com/grafana/oncall#update-version) and see if the issue is resolved.

[2022-10-07 09:54] Ukochka opened #626 "Move ENV variables from the tab to chat-ops tab for Telegram, Slack"
It is more user friendly, if we will have interface to fill all ENV variables at the same page where we are configuring chat ops

(We need to have backend for the part where we save environment because for now we do not have this functionality to save all parameters in the same time )

[2022-10-07 09:56] Ukochka opened #627 "Add id parameter to url to access chat-ops directly"
We do not have the functionality to send a link to specific chat-ops, for example if we want to share the Telegram page.

The same is for USer personal settings, we need to add id to the tab in personal chat-ops

[2022-10-07 10:19] bogdanoniga opened #628 "Slack interactive communication using Socket Mode"
The use of Socket Mode for Slack interactive communication eliminates the need of a publicly exposed endpoint as stated in [Slack documentation](https://api.slack.com/apis/connections/socket).

[2022-10-07 12:51] sdg4754 opened #629 "Teams App Crashes When Accessing a Mention from Grafana OnCall"
Please see the attached video.  All users experience this issue when accessing a webhook notification from Teams based on a Grafana OnCall connector card.  The Teams app crashes when attempting to open it from the lock screen notification and/or from the notifications within Teams itself.

https://user-images.githubusercontent.com/103603993/194557850-0ca82f8b-710a-46a0-90f7-53a98b24f2eb.MP4

[2022-10-07 14:54] Gufderald commented on #622
Thank you, now it works as expected! Closing.

[2022-10-07 14:54] #622 closed

[2022-10-08 16:53] libracoder opened #631 "Resolving incidents from slack throws 404"
I have installed istio using helm and i also use istio as a service mesh

For some reason every other route goes through except the route below
https://<ONCALL_ENGINE_PUBLIC_URL>/slack/****** (which includes https://<ONCALL_ENGINE_PUBLIC_URL>/slack/interactive_api_endpoint/

It always throws 404, is there a specific configurationf for isito that i dont know about

[2022-10-10 07:44] iskhakov commented on #598
We haven't yet tested that, but separating data with different rabbitmq vhosts, redis base, and databases should be enough.

[2022-10-10 09:01] Matvey-Kuk opened #632 "😉 Insight: how to enable new calendar UI"
Follow this link to check the demo: https://youtu.be/o9HkQLrBbtE?t=1393

Env variable:
[code]

This is Alpha version of our new calendar UI. Please let us know about any bugs/problems in the GH issues!

[2022-10-10 13:26] andy-paine-numan opened #633 "Better support for non-continuous shift schedules"
We have some schedules that we would only like to be Monday-Friday, 9am-5pm as they are for non-urgent issues. We assign someone to these shifts for each working day (rather than one person for the whole week) which seems impossible to represent with the current `rolling_users` shift type as a daily rotation cannot be filtered with `by_day`.

In addition to this, we get Slack notifications for shi

[2022-10-10 13:49] matiasb commented on #629
Hi there,

A few questions to help debugging the problem:
 - Does this only happen when trying to open MSTeams from the notification? (ie. when opening the app and checking the messages from there, does it work without issues?)
 - Does it happen with other MSTeams notifications?

Thanks.

[2022-10-10 14:05] sdg4754 commented on #629
I have had it reported to me from both Lock Screen and from notifications in Teams. It does not happen for other apps or notifications.
________________________________

David G. Schultz
Manager of Workplace Infrastructure
***@***.***
o+1 646-930-4754
tassat.com
CONFIDENTIALITY NOTICE
THE INFORMATION CONTAINED IN THIS COMMUNICATION IS INTENDED FOR THE NAMED RECEIVER ONLY. THE TRANSMISSION MAY CONT

[2022-10-11 07:37] Matvey-Kuk commented on #85
docker-compose.yml -> docker-compose-mysql-rabbit.yml
new tiny docker-compose -> docker-compose-sqlite-redis.yml

Documentation:
- Add new paragraph "Environmental Variables" here: https://grafana.com/docs/grafana-cloud/oncall/open-source/
- We flip "Getting Started" to docker-compose-sqlite-redis.yml.
- - Download docker-compose.yaml: -> Download docker-compose (use docker-compose-mysql-rabbit.ym

[2022-10-11 07:50] raphael-batte commented on #626
Will be good to link relevant ENV var rows with ChatOps setup UI but centralized table for ENVs IMO should remains.

[2022-10-11 07:53] raphael-batte commented on #633
Our upcoming calendar will have this rotation type.

[2022-10-11 10:25] Ukochka opened #637 "Telegram installation redesign"
New design is provided for Telegram integration:
we need to have the same logic/design to configure our chat ops (Slack and Telegram)
1. Check if the environment is ready (check ENV variables tab (for admin only))
2. If env variables are correct we show steps to configure Telegram channels
3. The same logic is for personal Telegram account connection: User->me->connect Telegram

[2022-10-11 10:28] #191 closed

[2022-10-11 11:02] paneda1998 opened #638 "Post Json Data via webhooks"
Hello I define a webhooks for rocketchat and i want to post data to.
bet there is an extra validation in backend code that prevent me to send data
the problem is in this file:
engine/apps/api/serializers/custom_button.py
in validate_data method

this is my data that i want to send in post request:
[code]

I want to send a json dict for labels in alert body but i cant

[code]

if i comment json.loa

[2022-10-11 12:18] #631 closed

[2022-10-11 12:45] Matvey-Kuk commented on #612
@alyssawada this structure looks great for me, thank you for sharing!

We rely heavily on such links within our product:
- https://grafana.com/docs/oncall/latest/open-source/
- https://grafana.com/docs/oncall/latest/open-source/#production-environment
- https://grafana.com/docs/oncall/latest/open-source/#slack-setup
- https://grafana.com/docs/oncall/latest/open-source/#telegram-setup
- https://gra

[2022-10-11 12:57] Matvey-Kuk commented on #187
Also worth thinking about removing tags in mentions after alert is resolved. It's polluting slack's "Threads" stack a lot.
<img width="555" alt="Screenshot 2022-10-11 at 15 56 39" src="https://user-images.githubusercontent.com/3284841/195096877-38aa2b80-1445-4a6e-81a0-d7e2a92b8263.png">

[2022-10-11 17:03] #249 closed

[2022-10-11 19:56] alyssawada commented on #612
Thanks @Matvey-Kuk!

The URLs will remain the same, so there should be no impact on any in-product links. I'll make a note to validate those before merging.

[2022-10-13 05:45] logicall commented on #598
Thank you!
I will try...

[2022-10-13 06:16] logicall commented on #598
It turned out to be done.
I have one grafana container running, one rabbitmq (made 2 different vhosts for two organizations in grafana), one redis (made 2 databases for two organizations) and one mysql (it has 2 onCall databases for two organizations)
I also launched one engine container, celery, oncall_db_migration for organizations, where I registered different databases, vhost each for their or

[2022-10-13 11:05] joeyorlando commented on #452
note to self: update the frontend configuration error message to not mention the need to regenerate a new token

[2022-10-14 17:59] karengermond opened #652 "API endpoints and query parameters missing for Grafana Oncall"
Issue from #docs channel:  https://raintank-corp.slack.com/archives/C5PG2JK8W/p1665767547940539

[2022-10-15 14:26] paneda1998 opened #654 "Continue escalation if < X alerts per Y minutes"
Hi.
I want to implement this step: "Continue escalation if < X alerts per Y minutes!!!"
sometimes it may i have hundreds of alerts in one minute and in that case i want to pause escalation
how i can do this?

[2022-10-16 08:51] adri opened #656 "Support New Relic Workflows"
I'm evaluating Grafana OnCall and saw that the New Relic integration still uses the old way of using "notification settings".

What I would have expected is to use Workflows and get a "message template", that I can paste to New Relic.
You can see an example here: https://docs.zenduty.com/docs/newrelicworkflow

For more information on customizing workflow payloads see:
https://discuss.newrelic.com/

[2022-10-17 10:50] raphael-batte opened #657 "Fit OnCall UI to new Grafana navigation"
- [x] Add new UI layout if Grafana instance has new nav variable. Old Grafana versions will look as is
- [x] Remove main tab section
- [ ] Remove logo and version from all the pages except */grafana-oncall-app/
- [x] Add 24 px page headline to all internal pages
- [x] Transform vertical subsection tabs inside pages (example, ChatOps) to row tab groups

[2022-10-18 13:37] Matvey-Kuk commented on #575
This issue moved to the core team's backlog

[2022-10-18 15:55] DavidSpek commented on #122
I believe this could be done with a secret and the plugins sidecar already. For example:

[code]

While this does configure the plugin, I'm getting an error about the token being invalid (`It seems like your invite token may be invalid.`).

[2022-10-19 08:10] Matvey-Kuk commented on #654
Hi! Sounds like a good candidate for a feature request. May be implemented using "Continue escalation if > X alerts per Y minutes" as a reference.

[2022-10-19 08:12] Matvey-Kuk commented on #652
@karengermond this is a public repo, copy-pasting initial request from the private slack so it will be visible:

Hi all, unless I am mistaken, I believe the [available docs for Grafana Oncall](https://grafana.com/docs/oncall/latest/oncall-api-reference/) are missing some API endpoints.  I wasn't able to find anyway to pull information about user Teams from the API, until I checked the [open-source

[2022-10-19 09:25] maskin25 opened #666 "Display iCAL and Terraform schedules in list"
- [x] Enable filtering, it's better to do filtering on backend side ![2022-10-19_10-09-22](https://user-images.githubusercontent.com/3278022/196648616-ef3a6ec4-5e67-4e92-b38c-22193c16eed9.png),
- [x] add [renderWarning](https://github.com/grafana/oncall/blob/dev/grafana-plugin/src/pages/schedules/Schedules.tsx#L155) column like in old schedules
- [x] Add [Reload](https://github.com/grafana/oncall/

[2022-10-19 10:27] paneda1998 opened #667 "Complex search by tags"
Hi i want to filter alerts based on some labels for example "severity" and ...

https://github.com/grafana/oncall/issues/667#tasklist-block-6e4e3d4e-ae49-4e3c-b459-f90d4d98293e

[2022-10-19 10:29] Matvey-Kuk commented on #667
Hi! It's doable using search field in the Alert Group list. Search works using "title" so if you would like to search using specific field, I suggest rendering this field in the Title template in the Integration settings.

[2022-10-19 10:52] DavidSpek opened #668 "Slack integration issues"
I'm facing the same issue as described in https://github.com/grafana/oncall/issues/90, where the `client_id` parameter is set to `None` when trying to integrate Slack. Domain for OnCall is `https://oncall.example.com` and for Grafana `https://grafana.example.com`. If I then try to manually add the `client_id` the oauth flow continues but fails. There are no errors I can find in the engine logs.

[2022-10-19 12:21] Matvey-Kuk commented on #638
@vadimkerr I see the PR is merged, smth is missing to close this issue?

[2022-10-19 13:53] wounkun opened #672 "plugin didn't rewrite url path resources"
![image](https://user-images.githubusercontent.com/34368014/196709739-cfa72ae7-6484-4b51-a5f8-ff32a85c0fcc.png)

I got a problem on grafana that reversed by nginx which has different root url, example: %(protocol)s://%(domain)s/grafana/. Plugin page opening CSS-file with incorrect url path:

https://host/grafana/public/plugins/grafana-oncall-app/img/grafanaGlobalStyles.css

[2022-10-19 17:31] mderynck commented on #657
Adding note here to restore the Team selector drop down which disappeared with the new navigation.

[2022-10-19 18:40] th30nlyw4y commented on #518
Hi!
PR is prepared, waiting for discussion and approval :)

[2022-10-20 09:20] DavidSpek commented on #347
https://github.com/grafana/oncall/pull/670 is related. I've tested it with the changes from https://github.com/grafana/oncall/pull/621 and it works as expected.

[2022-10-20 09:23] DavidSpek commented on #80
I believe this issue can be closed since https://github.com/grafana/oncall/pull/660 was merged which solved the problems with using PostgreSQL. I'm using PostgreSQL in combination with the helm changes from https://github.com/grafana/oncall/pull/661 and the Zalando operator for a production setup (the built-in postgres in the chart also works).

[2022-10-20 11:16] dmitry-tiger commented on #667
What about possibility to filter by two labels or nested logic, doing that requires very complex regex, also it in not guaranteed that labels will be in one order

IMHO the best approach is using nested logical constructor like
(label1 == smth AND label2 !~ .+smth|smth) OR ( label3 != smth)
or json paths instead labels for json objects
(.payload.labels.severity == smth AND .payload.labels.status !

[2022-10-20 12:24] acr-varonis commented on #347
Looking forward to trying this in an upcoming release !

[2022-10-20 15:55] matiasb opened #681 "Make ical event email check case insensitive"
When exporting a user's schedule (ical and terraform), we are comparing the user data coming from ical events checking for matches against username and email in a case-sensitive way. Email check could be case-insensitive to avoid unexpected misses.

[2022-10-20 16:34] mderynck opened #682 "Add refresh button for live settings"
This came up as part of this PR:
https://github.com/grafana/oncall/pull/664

A button should be added to the live settings page to re-validate all errors.  Currently if there is an error it will only re-validate when a change takes place (Set value back to default).  This is annoying if the error is due to something independent from the setting itself such as network or routing issues causing the

[2022-10-20 23:38] tommysitehost opened #684 "List alert groups HTTP API additional filters"
Hi guys, it would be super useful if list alert groups HTTP API has additional filters such as filter by state/title so we can return a list of silenced/acknowledged/active alert groups

[2022-10-21 13:13] Matvey-Kuk opened #689 "Slash command /oncall doesn't work"
Gives this error message on devamixr
[code]

I'm not sure, but here is a probable way to reproduce:
1. Create new Grafana Team
2. Create manual incident using this slash command for this Team
3. Remove team in Grafana
4. Trigger / command again

[2022-10-21 13:39] #681 closed

[2022-10-22 14:17] yari0757 opened #693 "oncall hobby failed running"
i am trying to run hobby version with docker-compose, but the container "oncall_db_migration" exited with sql connection timeout.
my docker-compose version : v2.12.2
os : ubunti 20.04

[2022-10-22 16:50] yari0757 commented on #693
it was network issue .
solved

[2022-10-22 16:50] #693 closed

[2022-10-24 09:54] acr-varonis opened #695 "Docker-compose - Using rabbitmq version from 2 years ago."
Hi Everyone,
This issue is both a question and a suggestion.
Looks like the example in the docker-compose file (see below) is using [rabbitmq:3.7.15-management](https://hub.docker.com/layers/library/rabbitmq/3.7.15-management/images/sha256-b00ca90bc3ae85867317ab624ee476bd5d8d2a19f9ccc414e5baf685c770120d?context=explore) which is a 3 year old version (see attached screenshot).

I was wondering if t

[2022-10-24 09:58] Timmypedia opened #696 "ElasticCache / AWS Redis won't work with Django"
Hello,
It seems like, Django won't use the given Username in a Redis_URI. The Documentation of Django, doesn't mention the possibility to use an Username either.

The possibility to use an Username is Mandatory to work with ElasticCache in AWS, so it's totally incompatible and makes it very rough to implement on call into an existing system.

I closed my MR(#694) because it's not useful to add the

[2022-10-24 11:57] th30nlyw4y commented on #518
Hi!
Any news here ?

[2022-10-24 13:08] #85 closed, assigned to vstpme, raphael-batte

[2022-10-24 14:26] vadimkerr opened #700 "Introduce mypy to the codebase"
The repo could benefit from introducing [mypy](https://mypy.readthedocs.io/en/stable/), at least for the parts of the codebase that already have type annotations.
This would also require adding a new CI step for mypy.

[2022-10-24 14:29] vadimkerr opened #701 "Auto-generate API schemas"
Would be great to add some way to generate API schemas for internal and public API.
Rest framework docs on API schemas: https://www.django-rest-framework.org/api-guide/schemas/

[2022-10-25 13:51] roock commented on #695
Also the Grafana Image uses an old outdated and beta version container image tag 😞

[2022-10-25 21:15] vonschtirlitz opened #715 "Cannot send email notification via no-auth SMTP server"
Hello,

We were really excited for the email capability rolled out the other day, however, it does not appear to properly work with our internal SMTP relay server, which does not have authentication. We cannot provide a null value for password in the helm template, k8s secret, and GUI, and the celery logs report a `SMTPNotSupportedError('SMTP AUTH extension not supported by server.')` when giving

[2022-10-26 14:51] octoshikari commented on #632
@Matvey-Kuk Good day! For alpha version i can only create schedule managed by Grafana Oncall or i can import from existing calendar? We try import from existing but it just close form after click on save button

[2022-10-27 11:20] Matvey-Kuk opened #724 "Investigate/fix check_escalation_finished_task"
check_escalation_finished_task is one of the reet mechanisms to check if escalations executed for all tasks properly. We noticed this thing didn't work right in one of our environments. I suggest checking the full path:
1) If it's working properly
2) If we receive alert based on it's failure.
3) Why we didn't receive alert during "#incident-2022-10-25-metamonitoring-chain-is-broken".

[2022-10-27 11:21] Matvey-Kuk commented on #724
I propose it to be taken by @iskhakov but feel free to adjust

[2022-10-27 14:02] Konstantinov-Innokentii commented on #724
check_escalation_finished_task  is disabled, since it produce a db query too long to execute.

[2022-10-27 22:55] BojanOro opened #733 "Feature Request: Schedules Alpha - Repeat shifts every X business days"
Hey folks, wondering if there is any appetite in being able to define on call schedules for X *business* days (in most cases, Monday - Friday, but perhaps this is a custom definition for other orgs).

In our organization, we use an "on call" rotation as part of our business hours support team and we will only assign team members to this role for 2 days a time Monday - Friday. This gives the team a

[2022-10-28 09:43] DavidSpek commented on #668
@joeyorlando sorry to bother you, but since you created the last release I thought I'd mention I'm still running into this issue with v1.0.45.

[2022-10-30 05:47] tinvaan opened #736 "Integration with Rocket Chat"
Rocket Chat seems like a useful integration to have. Is there any interest in this from the community?

[2022-10-31 11:47] #637 closed

[2022-10-31 13:11] #689 closed

[2022-10-31 14:31] vadimkerr commented on #715
Hi @vonschtirlitz, thank you for opening the issue!
Could you please try to set both `EMAIL_HOST_USER` and `EMAIL_HOST_PASSWORD` to be empty strings and see if this helps?

[2022-11-01 09:43] tinvaan opened #745 "docker-compose-developer-pg dockerfile fails to launch grafana service"
Just noticed that the `docker-compose-developer-pg.yml` script fails to launch the grafana service on 0.0.0.0:3000, possible cause could be a mysql connection timeout?

[code]
As the service isn't running, trying to dev is unable to access grafana dashboard on localhost:3000.  (ERR_EMPTY_RESPONSE)

More: https://grafana.slack.com/archives/C02LSUUSE2G/p1667108304376529

[2022-11-01 09:46] iskhakov commented on #745
`mysql-to-create-grafana-db` and `grafana` services depend on `mysql` service, we need to change them to postgresql

[2022-11-01 10:36] CactusZ commented on #445
Same issue for us, would be good to have a fix for that!

[2022-11-01 13:08] tinvaan commented on #736
oh looks like this is already reported, sorry for the noise. Feel free to mark as duplicate.

[2022-11-01 13:35] DavidSpek commented on #668
@iskhakov Maybe you could share your thoughts on this.

[2022-11-01 14:03] DavidSpek opened #749 "Frontend: Sidebar bug in latest release"
When using the Plugin from https://github.com/grafana/oncall/releases/tag/v1.0.48, the Grafana sidebar get misaligned. This doesn't happen when using version `v1.0.46`.

![image](https://user-images.githubusercontent.com/28541758/199251605-ce06f1bd-c474-4962-aa62-08e231a90a29.png)

[2022-11-01 16:02] DavidSpek commented on #749
@vadimkerr The latest version solves the issue. Thanks for the quick response.

[2022-11-01 16:16] vadimkerr commented on #668
Hi @DavidSpek 👋
Could you please confirm that you have set `SLACK_CLIENT_OAUTH_ID`, `SLACK_CLIENT_OAUTH_SECRET` and `SLACK_INSTALL_RETURN_REDIRECT_HOST` env variables?

[2022-11-02 00:09] mderynck opened #753 "Show/Hide values for Live Settings not working"
Toggling Show Values/Hide Values on the Env Variables pages is no longer working, values remain hidden.

[2022-11-02 04:07] #745 closed

[2022-11-02 10:31] vadimkerr commented on #244
Closing this for now since it's apparently easier to make breaking changes to hobby `docker-compose.yml` when the upgrade instruction doesn't refetch the docker-compose file.
E.g. https://github.com/grafana/oncall/pull/611 would be much harder to implement if `docker-compose.yml` was refetched on upgrade.

[2022-11-02 10:31] #244 closed

[2022-11-02 10:36] vadimkerr commented on #347
The SMTP email backend is enabled by default and is available for use as of [v1.0.49](https://github.com/grafana/oncall/releases/tag/v1.0.49).
Please see the docs here: https://grafana.com/docs/oncall/latest/open-source/#email-setup

[2022-11-02 10:36] #347 closed

[2022-11-02 13:15] acr-varonis commented on #347
@vadimkerr  I just tried configuring SMTP in our test environment.
Our test email server is configured to allow relaying (no authentication with a username and password) from the oncall machine.

but it seems the current configuration doesnt support this kind of configuration.
We want to use the EMAIL_HOST_USER as the FROM to the email and leave the password empty.

any ideas ?

[2022-11-02 13:25] vadimkerr commented on #347
@acr-varonis there is a similar issue on GH: https://github.com/grafana/oncall/issues/715

[2022-11-02 13:29] acr-varonis commented on #715
@vadimkerr if we set both the EMAIL_HOST_USER and EMAIL_HOST_PASSWORD how can we specify the FROM field of the email message?

[2022-11-02 13:31] vadimkerr commented on #715
Seems like this wouldn't work as is, I'm working on introducing a new optional env variable `EMAIL_FROM` that can be used to specify the "from" email address.

[2022-11-02 13:32] acr-varonis commented on #715
@vadimkerr an EMAIL_FROM sound like it would be a good solution.

Also I'm unable to unset the user/pass I get "Value: This field may not be null."

Thanks!

[2022-11-02 13:33] vadimkerr commented on #715
@acr-varonis I see, I'll take a look at it as well. Thank you for raising this!

[2022-11-02 16:47] DavidSpek commented on #668
@vadimkerr `SLACK_CLIENT_OAUTH_ID`, `SLACK_CLIENT_OAUTH_SECRET`, `SLACK_INSTALL_RETURN_REDIRECT_HOST`, `SLACK_SIGNING_SECRET` and `SLACK_SLASH_COMMAND_NAME` are all set appropriately. After manually adding the ClientID to the URL and I allow the permissions for Slack I get redirected back to `https://<grafana-domain>/a/grafana-oncall-app/?page=chat-ops&slack_error=auth_failed`. Again, nothing usef

[2022-11-02 20:59] vonschtirlitz commented on #715
@vadimkerr sorry for the late reply, yes as @acr-varonis mentioned, you cannot pass a null or empty value for the email_host_user or password through the web interface for grafana.

However, we are using a helm chart and pass our values through there. If defining values from the helm chart, you can leave the `oncall.smtp.username` value as null, but chart will fail to start if you make `oncall.smt

[2022-11-03 05:22] PhantomPhreak opened #764 "Respect Grafana Org in the links generated by Oncall"
We have multiple Orgs in Grafana, and have Grafana Oncall plugin installed&connected to the Oncall backed in orgId=1.
Since Oncall plugin is Org-specific, we can't use one Oncall backend in different Orgs.

Our Oncall plugin connected with backend as following:
[code]

In alert messages (sent via Slack or Telegram), we have following links: `https://hostname/a/grafana-oncall-app/?page=incident&id=

[2022-11-03 05:27] PhantomPhreak opened #765 "Customizable Org settings for OSS Oncall"
`engine/settings/base.py`
[code]
We'd like to change `ORG_TITLE` to make alerts look better and more-specific to the instance where it's installed.
Currently e-mails look like:
[code]

Is it possible to make org-specific settings configurable via ENV vars?
Спасибо :)

[2022-11-03 06:37] acr-varonis commented on #715
@vonschtirlitz looks like @vadimkerr is addressing it in his proposed fix https://github.com/grafana/oncall/pull/759
by introducing `EMAIL_FROM_ADDRESS` and not making the user/pass mandatory.

[2022-11-03 06:50] #80 closed

[2022-11-03 06:51] #119 closed

[2022-11-03 06:53] #518 closed

[2022-11-03 13:48] DavidSpek commented on #668
I've found some more clues as to what might be going on. On a fresh installation on a different Kubernetes cluster with a different Grafana installation, the clientID was being set when redirecting to Slack. Since that was a client ID for a different OnCall deployment I created a new app on Slack and then changed the Slack client ID in the OnCall deployment.

However, after changing the Slack clie

[2022-11-03 14:52] DavidSpek commented on #668
So now I've tried moving the Grafana installation from SQLite to PostgreSQL thinking the Slack client ID might be persisted somewhere in the Grafana database, but it still doesn't pickup the new Client ID. After destroying the PVCs backing Grafana, the Grafana PosgreSQL database and the OnCall PostgreSQL database and redeploying all the apps I'm still running into the issue where the old client ID

[2022-11-03 15:14] joeyorlando opened #768 "Modify color pallet to use proper grafana orange color"
We should update the `--warning-text-color` (defined [here](https://github.com/grafana/oncall/blob/dev/grafana-plugin/src/style/vars.css#L29) and [here](https://github.com/grafana/oncall/blob/dev/grafana-plugin/src/style/vars.css#L57)) to use basic Grafana Orange (`rgb(255, 120, 10)`).

See [this PR comment](https://github.com/grafana/oncall/pull/635#discussion_r1008112227) for more reference.

[2022-11-03 16:27] felipebpl commented on #768
Hi @joeyorlando Can I be asigned to this issue?

[2022-11-03 17:20] #612 closed

[2022-11-03 19:26] mderynck commented on #753
This is now working

[2022-11-03 19:26] #753 closed

[2022-11-03 22:50] Matvey-Kuk commented on #591
Happy to see you found the solution and thank you for sharing it! https://github.com/grafana/oncall/discussions/590

[2022-11-03 22:50] #591 closed

[2022-11-04 00:15] tommysitehost opened #774 "Customise alert limits for team and integration"
We should be able to set/update alert limits for team and integration in the settings interface:
https://github.com/grafana/oncall/blob/dev/engine/apps/integrations/mixins/ratelimit_mixin.py#L18

[2022-11-04 00:24] Matvey-Kuk commented on #618
The reasoning behind this was to give the latest state in Slack. OnCall used to show the first alert in Slack before so all of them were always rendered as "firing". Once we switched to rendering the last alert Slack became smth like a dashboard of actual state. I see your point about values, but I don't see an easy solution to show old & last alert without adding a lot of complexity to Slack rend

[2022-11-04 00:25] #560 closed

[2022-11-04 01:03] Matvey-Kuk commented on #532
Hey team, I decided to do a pretty diligent "final check". There is a chance that some of points mentioned here are not actual bugs. Please ignore them in this case:

Tested in ops.grafana.net, r36-v1.0.50, chrome:
- [ ] 0. Let's rename "Schedules α" to "Schedules NEW" because we're going to roll it to Grafana Cloud. It's not an Alpha anymore :)
- [ ] 1. User could go to "Schedules α" and try crea

[2022-11-04 02:59] njohnstone2 commented on #618
@Matvey-Kuk thanks for taking a look at this. I see your point, could we limit the complexity by providing state changes as new messages in the existing thread?

[2022-11-04 09:48] Ukochka opened #779 "Not enough permission to see list of users if you access the page via direct link"
User is admin and has access to see fulll list of users at OnCall
But if user follows the link to users for example https://ops.grafana.net/a/grafana-oncall-app/?page=users the message appears: "You don't have enough permissions to view other users because you are not Admin."

If you go to another tab and come back - all users are displaying

[2022-11-04 10:01] DavidSpek commented on #313
@matiasb I am also seeing this when I try and connect my slack account to my user after I was the one that setup the slack installation. Meaning that the admin can't actually connect their own slack account.

[2022-11-04 10:43] DavidSpek commented on #90
@matiasb Please see https://github.com/grafana/oncall/issues/668, since there is something very strange going on with the Slack env settings being persisted somewhere.

[2022-11-04 14:21] #666 closed

[2022-11-04 15:04] Matvey-Kuk commented on #532
I didn't realize we already show all schedules in "Schedules alpha" page. So #0 and #1 are not relevant. Let's just remove old schedules page.

[2022-11-04 16:16] mderynck commented on #532
- [ ] Exported ical link has incorrect level for override (In the UI I am overriding but in the export I have L0)
![Screenshot from 2022-11-04 10-01-50](https://user-images.githubusercontent.com/28077050/200024305-ae2eff66-15a6-493a-812d-0f9b843d47f2.png)

[2022-11-04 16:18] melikesozeri opened #782 "Helm Chart Grafana Oncall Celery Crash Problem with Rabbitmq User"
Hi everyone.
I'm trying to upgrade Grafana Oncall with Helm chart.(1.35.0 --> 1.49.0 ) I've set _rabbitmq.enabled=true_. But in celery pods crashs and  restarts every 10 seconds. How can I set rabbitmq user? In deployments no env variable for RABBITMQ_USERNAME, there is only RABBITMQ_PASSWORD. But in settings/base.py referred RABBITMQ_USERNAME env value for user.
I think, celery did not use defaul

[2022-11-05 01:45] greatvovan opened #783 "Templates panel does not save Source Link"
### Repro
1. Create any integration.
2. Click _Change alert template and grouping_.
3. Choose _Alert Behaviour_ in the drop-down.
4. Enter any value in _Source Link_ field (except default).
5. Click _Save Template_.
6. Close the panel and open again at _Alert Behaviour_.
7. Check _Source Link_ field.

### Expected
Value entered at step `#4`.

### Actual
Default value of `{{ payload.url }}` is show

[2022-11-05 01:47] greatvovan opened #784 "OnCall bot does not update alert message in user chat"
### Preparation
1. Set default notification for your user to Microsoft Teams. Go to _OnCall -> Users -> View my profile_, and:
    1. Link OnCall bot to your user (as per instructions on the screen).
    2. Set _Default Notifications_ to include Microsoft Teams.
2. Create an escalation chain "My Chain" consisting of a single step: "Start _Default_ notification for `<your user>`".
3. Create an inte

[2022-11-05 01:52] greatvovan opened #785 "Teams channel and user notifications work mutually exclusively"
### Preparation
1. Set default notification for your user to Microsoft Teams. Go to _OnCall -> Users -> View my profile_, and:
    1. Link OnCall bot to your user (as per instructions on the screen).
    2. Set _Default Notifications_ to include Microsoft Teams.
2. Go to _ChatOps -> Microsoft Teams_ and click _Add MS Teams channel_. Add your Teams team as per the instructions.
3. Create an escalat

[2022-11-06 14:42] anlight commented on #445
<img width="779" alt="image" src="https://user-images.githubusercontent.com/12930183/200177249-dbde2260-7c53-4362-ada2-b794875a4aa0.png">

[2022-11-07 05:06] dinhdobathi1992 commented on #782
hi, please try to remove the value of `passwordKey` in the values file. I'm making the issue for it currently

[2022-11-07 05:16] dinhdobathi1992 opened #791 "Wrong default value in values file => make wrong env for external services"
When we come to the new version of oncall 1.49.0, we have new settings `passwordKey` for _**external services**_ like rabbitmq, postgres...
The problem is : it have a default values "password" and we have a condition like this
[code]
This case, because the passwordKey always have a value as default, and we also set `postgresql.enabled: false` , therefore, the ENV will be set to `password`, and the

[2022-11-07 06:42] iskhakov commented on #782
Hi, looks like this was fixed in 1.50.0
https://github.com/grafana/oncall/pull/775/files

Try the latest version please

[2022-11-07 09:02] iskhakov commented on #782
Closing for now, please re-open if the problem persists in the newer versions

[2022-11-07 09:02] #782 closed

[2022-11-07 13:57] wardbekker opened #794 "Being able to select teams in the round robin Policy instead of individuals"
Being able to select teams in the round robin Policy instead of individuals. Currently individuals need to be named specifically, and it's easier to work with Grafana teams that are sync-ed with e.g. active directory.

[2022-11-07 13:59] wardbekker opened #795 "New / Additional escalation policy team member workflow"
"new" team escalation policy, that does the following:

 a. randomly shuffle team members (or a list of users)
 b. request the selected user
c. wait a certain amount of time
 d. if all team members were reached and nobody acknowledged, continue with the next step in the workflow (exit), otherwise continue with b

More context: We (customer) have teams with variable sizes (3-7) and during working h

[2022-11-07 14:28] vadimkerr commented on #532
@maskin25 I checked the backend part, the override deletion works the same as deletion of regular shifts.
When making a DELETE request, backend returns 204 and sets the `until` property to current time. This seems to be working fine for regular (non-override) shifts, so could you please check if there's some issue on the frontend part for overrides?

[2022-11-07 14:31] matiasb commented on #532
FYI, I was also checking, indeed the `until` is being set, but there is some change required in the backend to enforce the `until` in overrides shifts (no changes should be required in the frontend as far as I can tell), I have a PR in progress with the update (and some other schedule-related fixes I'm working on)

[2022-11-07 14:56] maskin25 commented on #532
good, let me know when you're done

[2022-11-07 15:59] manolooon commented on #468
Hello @Matvey-Kuk  !!

I have executed a few times these steps, without sucess.

Thanks!
Regards!

[2022-11-07 16:04] manolooon commented on #468
Hello @kmlebedev !

Now I working in other proyect.
As soon as posible, will try set theses envs.

Thanks!
Regards!

[2022-11-07 18:13] Matvey-Kuk commented on #580
That's already possible, just checked with `../oncall/api/v1/alerts/?alert_group_id=IQ77F48CNJJW5`. Also mentioned in docs: https://grafana.com/docs/oncall/latest/oncall-api-reference/alerts/

[2022-11-07 18:13] #580 closed

[2022-11-07 18:32] Matvey-Kuk commented on #584
Looks like a few people are going through such a path and using docker-compose as a reference for bare metal installation. If one would like to build an instruction, I could suggest adding it as one of paragraphs to https://grafana.com/docs/grafana-cloud/oncall/open-source/

[2022-11-07 18:51] jnunezgts commented on #584
Will work on that, seems “almost” like a 1:1 mapping. First I need to get it work on bare-metal :-D

From: Matvey Kukuy ***@***.***>
Sent: Monday, November 7, 2022 1:33 PM
To: grafana/oncall ***@***.***>
Cc: Jose Nunez ***@***.***>; Author ***@***.***>
Subject: Re: [grafana/oncall] OnCall installation on Bare-metal (Issue #584)

Looks like a few people are going through such a path and using docke

[2022-11-08 08:24] PhantomPhreak commented on #695
Switched to `3.11-management` for my installations and it works fine

[2022-11-08 08:44] PhantomPhreak opened #800 "Support Quorum queues in rabbitmq"
I'm trying to build an HA cluster for the Oncall
I've created a rabbitmq cluster with a 3 nodes.
Currently, celery creating "classic" queues (non-mirrored), with "durable: true"
![image](https://user-images.githubusercontent.com/8307692/200514162-2a0aedf7-b231-441c-b767-1438a7f9235a.png)

Accordingly to the rabbitmq [documentation](https://www.rabbitmq.com/ha.html#non-mirrored-queue-behavior-on-no

[2022-11-08 10:09] #791 closed

[2022-11-08 12:48] curly3031 opened #803 "helm chart issue PASSWORDS ERROR"
if we use default databases in chart and change clusterDomain from default "cluster.local", we have some error on non installed variables
example:
Error: UPGRADE FAILED: execution error at (oncall/charts/rabbitmq/templates/statefulset.yaml:37:28):
PASSWORDS ERROR: You must provide your current passwords when upgrading the release.
                 Note that even after reinstallation, old credentia

[2022-11-08 16:18] altokarev opened #806 "Helm chart: add an option to override cluster DNS resolver parameters"
Hey there! 👋

I'm using Istio mesh and my cluster domain is different from `cluster.local` that is set by default with https://github.com/grafana/oncall/tree/dev/helm/oncall

It would be great if chart will support overriding such parameters like `dnsService`, `dnsNamespace` and `clusterDomain` especially. Just like Grafana Mimir guys did in theirs chart - https://github.com/grafana/mimir/blob/481

[2022-11-08 16:25] Matvey-Kuk commented on #626
ENV variables are configured by a tech person who is performing initial setup of Chatops and other parts of OnCall. I don't think we need to "blend" ENV variables setup between different pages. Moreover I think it will reduce usability for initial configuration. We could probably link to ENV page better if you find users being stuck at this step.

[2022-11-08 16:27] Matvey-Kuk commented on #638
@vadimkerr I think it's ok to close the issue once the PR is merged

[2022-11-08 16:27] #638 closed

[2022-11-08 16:33] Matvey-Kuk commented on #684
For the context, this is a REST endpoint: https://grafana.com/docs/oncall/latest/oncall-api-reference/alertgroups/

[2022-11-08 16:36] #632 closed

[2022-11-08 16:50] Matvey-Kuk commented on #733
@BojanOro do you mean such an option?
<img width="444" alt="Screenshot 2022-11-08 at 18 49 24" src="https://user-images.githubusercontent.com/3284841/200625925-8ef7447e-6a87-43c7-8daf-0b4bccfc6d68.png">

[2022-11-08 18:17] jascott1 opened #807 "Best practice for exporting and reimporting entities"
After exporting entities such as escalation chains and policies, and trying to re-import, I realized that the IDs of the objects from backup are ignored and a new IDs are created on POST. It appears I will have to import and escalation chain, get its new ID and then override that on the fly when importing an escalation policy (for example). This is in contrast to Grafana API which uses UIDs to pre

[2022-11-08 20:10] BojanOro commented on #733
I don't think so @Matvey-Kuk .

Imagine I have 3 on call engineers, and they are on call for 2 business days at a time.

[code]

Is that doable in with that UI? I don't _quite_ understand the relationships between rotations, parent shifts, and groups 😅

[2022-11-09 11:40] Matvey-Kuk commented on #783
Thank you for the bug report! I was able to reproduce, taking it to the core team's backlog.

[2022-11-09 11:41] Matvey-Kuk commented on #784
Thank you for the report! @matiasb could you please take a look?

[2022-11-09 11:42] Matvey-Kuk commented on #785
Thank you for the bug report! @matiasb could you please check it? Thank you!

[2022-11-09 11:48] Matvey-Kuk commented on #468
Should be fixed with https://github.com/grafana/oncall/issues/452

[2022-11-09 11:49] Matvey-Kuk commented on #584
@jnunezgts sounds great, thank you!

[2022-11-09 11:50] Matvey-Kuk commented on #695
The team is working on updating RabbitMQ which includes a lot of testing, thank you for the request!

[2022-11-09 12:16] Matvey-Kuk commented on #807
Hi! The best practice of doing this is to keep configuration in Terraform, so dynamic ID's shouldn't be a problem: https://grafana.com/blog/2022/08/29/get-started-with-grafana-oncall-and-terraform/

[2022-11-09 12:21] Matvey-Kuk commented on #733
@BojanOro I see! Pretty tricky case :)

The closest solution which comes to my mind is to create 2-day long "parent event" and rotate every 2 days. The only problem: it will not "jump" over weekends as you expect.

<img width="439" alt="Screenshot 2022-11-09 at 14 19 42" src="https://user-images.githubusercontent.com/3284841/200829181-deb06e64-2d9e-4c30-a69d-1586fbf02fb3.png">

[2022-11-09 12:44] Matvey-Kuk commented on #779
Just faced this bug, nice catch!

[2022-11-09 12:45] matiasb commented on #785
Hi there,

Thanks for the detailed report! Right now, as you noticed, we are not sending a private message to the user when the alert group is posted to a channel. In that case, the user should be notified via a mention in the same channel, as a reply to the alert group message. To confirm, isn't that happening? Would you prefer or expect to always get a DM notification even if the alert group is